
@import url("https://ungiglio.github.io/DiscordDiscordia/test/top.css");

:root{
    /*HorizontalServersList settings*/

    --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */

    /*Background*/
    --background-image : url('https://c4.wallpaperflare.com/wallpaper/943/826/490/digital-digital-art-artwork-painting-drawing-hd-wallpaper-preview.jpg');
    --app-blur : 8px;
    --button-background: linear-gradient(60deg, rgb(204, 94, 31), rgba(255, 105, 105, 0.973));
    --background-primary: rgba(24, 24, 24, 0.26) !important;
    --background-secondary: rgba(26, 26, 26, 0.500) !important;
    --background-modifier-hover : rgba(20, 20, 20, 0.500) ;
    --box-shadow : 0 0 10px 0px;
    --mentioned-bg : rgba(204, 94, 31, 0.452);

    /*Font*/
    
    --font-display: var(--font-primary);
    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*Status customizer*/

    --Online: rgb(73, 146, 255);
	--Do-not-disturb: rgb(255, 72, 72); 
	--Idle: rgb(255, 175, 4);

    /*Typing customizer*/

    --content: "Want to say something"

}

.bg_d4b6c5{
    background: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link_c91bad:hover, .interactive_c91bad:hover{
    background: var(--button-background);
    border-radius: 20px;
    transition: 1s;
    color: rgb(233, 233, 233);
}

.item_c4cd66, .newMessagesBar_cf58b5, .selected_d808b0 .layout_d808b0, .topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0{
    background: var(--button-background);
}

.content_a4d4d9{
    background-color: transparent;
}

.wrapper_a7c28c, .title_d1da5f{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

.obscuredTextContentInner_aa9639, .scroller_d90b3d, .popout_f6639d{
    transition: 1s;
}

.footer_aa1bff{
    background-color: transparent !important;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

strong{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

.markup_f8f345 a, .anchor_af404b, .topic_bf3bbb a, .content_ed23b8 a, .title_b97bdb{
    background: linear-gradient(to right,#ff1d1d,#ff1eec, #fc22ea, #0f93ff, #00ffb3 , #00ff00, #fffb21, #e69706,#ff1111);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

.side_a0 .item_a0:hover, .containerDefault_f6f816:hover{
    background: var(--button-background);
    border-radius: 14px;
    transition: 1s;
}

.memberInner_a31c43:hover{
    background: var(--button-background);
    transition: 1s;
}

.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: none
}

.wrapper_d8bfb3:hover .link_d8bfb3 {
    background: none;
}

.mentioned_d5deea, .message_d5deea.mentioned_d5deea.selected_d5deea, .mouse-mode.full-motion .message_d5deea.mentioned_d5deea:hover{
    background: var(--mentioned-bg)
}

.mentioned_d5deea:before {
    box-shadow: 4px 0px 6px 1px var(--button-background);
    background: var(--button-background);
}

.platform-win .sidebar_a4d4d9, .container_c2739c, .chat_a7d72e{
    border-radius: 10px;
    margin: 20px;
    box-shadow: var(--box-shadow)
}

.guilds_a4d4d9{
    border-radius: 10px;
    margin: 6px;
    margin-left: 0px;
}

.wordmarkWindows_a934d8{
    display: none;
}

.link_d8bfb3:hover{
    transform: translateX(10px);
    transition: 1s;
}

.childWrapperNoHoverBg_f90abb>svg{
    color: white;
}

#app-mount .sidebar_a4d4d9 {
    border-radius: 10px;
}

.unreadImportant_d8bfb3, .lookFilled_dd4f85.colorBrand_dd4f85, .lookFilled_dd4f85.colorPrimary_dd4f85, .botTagRegular_a9e77f, .unread_fd8ff1{
    background: var(--button-background);
}

.modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3:hover .name_d8bfb3{
    color: white;
}

.layers_a01fb1 {
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    border-radius: var(--app-radius);
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(var(--app-blur));
}

.chatTarget_d1c246:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: var(--popout-color);
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  #channelTabs-container {
    margin: calc(var(--app-margin) / 2) var(--app-margin) calc(var(--app-margin) / 4 * -1);
    padding: 4px !important;
    background-color: var(--sidebar-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
  }

  .directoryContainer_da3f59 {
    height: calc(100% - var(--app-margin) * 1.5);
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
  }

  .titleContainer_e87574:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  .header_bd05f1:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  .wrapper_d1fdce .card_d1fdce {
    background-color: var(--card-color-select);
    border-radius: var(--card-radius);
    backdrop-filter: blur(var(--app-blur));
  }

.winButton_a934d8 {
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.link_c91bad:hover{
    transform: translateX(5px);
    transition: 1s;
}

.lookFilled_f6639d.select_f6639d{
    border: solid transparent;
}

.theme-dark .container_b2ca13 ,.theme-dark .panel_bf1a22, .container_effbe2, .searchBar_f0963d, .lookFilled_f6639d.select_f6639d, .connectionHeader_e2a436, .container_a6d69a, .connectContainer_e2a436 , .container_c2739c, .theme-dark .scroller_c47fa9, .wrapper_d880dc.minimum_d880dc{
    background-color: var(--background-secondary);
}

 .sidebarRegionScroller_c25c6d, .contentRegionScroller_c25c6d, .searchBar_e0840f, .searchHeader_b7c924 , .searchResultsWrap_c2b47d, .sidebar_a4d4d9, .privateChannels_f0963d, .chat_a7d72e, .nowPlayingColumn_c2739c, .container_bf550a, .channelTextArea_a7d72e, .container_cbd271, .chatContent_a7d72e, .wrapper_fea3ef{
    background-color: var(--background-primary);
}

.theme-dark .sidebarContainer_a3a4ce{
    background-color: var(--background-secondary);
}

.form_a7d72e:before, .themedBackground_d0696b, .searchResult_ddc613, .panels_a4d4d9, .popoverReactionHoverBar_e986d9, .theme-dark .themed_fc4f04{
    background: transparent;
}

.avatarWithText_c91bad & .content_ec8679{
    color: transparent;
}

.avatar_ec8679:hover > svg, .icon_d8bfb3:hover, .closeIcon_c91bad:hover{
    animation: icon1 2.5s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes icon1 {
    100% { 
        transform: rotate(360deg); 
    }
}

.text_d7ebeb > strong{
    visibility: visible;
}

.text_d7ebeb{
    visibility: hidden;
}

.text_d7ebeb::after{
    content: var(--content);
    visibility: visible;
    position: relative;
    left: -61px;
}

.container_e40c16{
    background: rgba(0, 0, 0, 0.692);
}

.button_df39bd{
    background-color: var(--background-secondary);
}

rect[fill='#23a55a'], svg[fill='#23a55a']{
    fill: var(--Online);
}
 
 rect[fill='#f0b232'], svg[fill='#f0b232']{
     fill: var(--Idle);
}
 
 rect[fill='#f23f43'], svg[fill='#f23f43'] {
     fill: var(--Do-not-disturb);
}