/**
 * @name Discord Discordia
 * @author ungiglio
 * @version 25.1
 * @description Un tema trasparente, modulare e altamente personalizzabile.
 * @source https://github.com/ungiglio/DiscordDiscordia
*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* ======================================================================== */
/* USER SETTINGS */
/* ======================================================================== */

:root {
    /* --- BACKGROUND AND IMAGES --- */
    /* Background Image */
    --custom-image-url: url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/bgImg.jpg");
    /* Image blur (default: 8px) */
    --app-blur: 8px;
    
    /* --- MAIN COLORS --- */
    /* Main Color (Purple default: 148, 83, 212) */
    --rgb-highlight: 148, 83, 212;
    /* Danger/Close Button color (Red) */
    --rgb-close-button: 212, 83, 83;

    /* --- USER STATUS (RGB format) --- */
    --rgb-online-color: 31, 92, 171;    /* Online (Blue) */
    --rgb-afk-color: 255, 255, 0;       /* Assente (Yellow) */
    --rgb-dnd-color: 255, 0, 0;         /* Non disturbare (Red) */
    --rgb-streaming-color: 148, 83, 212; /* Streaming (Purple) */

    /* --- TITLE AND ICONS CUSTOMIZATION --- */
    --custom-title-text: "Lande della Discordia";

    /* Home/DM Icon (Discord logo left top) */
    --custom-logo: url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordia.png");            /* normal */
    --custom-logo-hover: url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordiaHover.png"); /* on hover */
}

/* ======================================================================== */
/* CORE SYSTEM (don't touch) */
/* ======================================================================== */

/* 1. Logica Variabili e Core */
@import url("awkglass_code/core/variables.css");

/* 2. Interfaccia Utente (UI) */
@import url("awkglass_code/core/ui/app_base.css");
@import url("awkglass_code/core/ui/scrollbars.css");

/* 3. Layout (Sidebar, Canali) */
@import url("awkglass_code/core/layout/sidebar.css");
@import url("awkglass_code/core/layout/channels.css");
@import url("awkglass_code/core/layout/members.css");
@import url("awkglass_code/core/layout/pages.css");

/* 4. Chat & Forum */
@import url("awkglass_code/core/chat/message_area.css");
@import url("awkglass_code/core/chat/input_bar.css");

/* ======================================================================== */
/* ADDONS & PLUGIN */
/* ======================================================================== */

/* Modali */
@import url("awkglass_code/core/modules/modals.css");

/* Plugin BetterDiscord */
@import url("awkglass_code/core/modules/plugins.css");

/* Popouts */
@import url("awkglass_code/core/modules/popouts.css");

/* Lista Utenti Colorata */
@import url("awkglass_code/core/modules/userlist.css");

/* Titolo Personalizzato */
@import url("awkglass_code/core/modules/title_bar.css");

/* Menzioni Colorate */
@import url("awkglass_code/core/modules/mentions.css");

/* Lista Server Orizzontale (Opzionale - al momento è rotto) */
/* @import url("awkglass_code/core/modules/horizontal_server_list.css"); */