/**
 * @name Lande della Discordia
 * @author ungiglio
 * @version 25.1
 * @source https://github.com/ungiglio/DiscordDiscordia/
 * @website https://ungiglio.github.io/DiscordDiscordia/
 * @description Lande della Discordia implements a glass purple and lightblue details on your client!
 * @authorId 769144538107215872
 * @invite DDaRdZwB4h
*/

/* ======================================================================== */
/* 1. LOADER (don't touch it) */
/* ======================================================================== */

@import url('https://ungiglio.github.io/DiscordDiscordia/awkglass/loader.css');


/* ======================================================================== */
/* 2. USER SETTINGS */
/* ======================================================================== */

:root {
    /* --- BACKGROUND AND IMAGES --- */
    /* Background Image */
    --custom-image-url: url('https://ungiglio.github.io/DiscordDiscordia/awkglass/assets/bgImg.jpg');

    /* Image blur (default: 8px) */
    --app-blur: 8px;
    

    /* --- MAIN COLORS --- */
    --rgb-highlight: 178, 102, 255;

    /* Danger/Close Button color */
    --rgb-close-button: 152, 51, 255;


    /* --- USER STATUS (RGB format) --- */
    --rgb-online-color: 31, 92, 171;        /* Online (Blue) */
    --rgb-afk-color: 220, 163, 46;          /* Idle (Yellow) */
    --rgb-dnd-color: 224, 58, 62;           /* DnD (Red) */
    --rgb-streaming-color: 188, 19, 254;    /* Streaming (Purple) */


    /* --- TITLE AND ICONS CUSTOMIZATION --- */
    --custom-title-text: "Lande della Discordia";                   /* The custom text you want to display */
    --custom-title-font-size: 14px;                                 /* The size in pixels of the custom title text */
    --custom-title-font-family: "Pirata One", var(--font-primary);  /* The font family of the custom title */

    /* Home/DM Icon (Discord logo left top) */
    --custom-logo: url('https://ungiglio.github.io/DiscordDiscordia/awkglass/assets/LandeDiscordia.png');
    --custom-logo-hover: url('https://ungiglio.github.io/DiscordDiscordia/awkglass/assets/LandeDiscordiaHover.png');

    --show-dev-panel-info-static: 0; /* Set to 1 to show the static version, 0 to hide | (NOTE: for static to work also hover need to be 1) */
    --show-dev-panel-info-hover: 1; /* Set to 1 to show the static or hover version, put 0 to hide */
}