/**
 * @name Lande della Discordia
 * @author ungiglio
 * @version 1.0.8 awkglass
 * @source https://github.com/ungiglio/DiscordDiscordia/
 * @website https://ungiglio.github.io/DiscordDiscordia/
 * @description Lande della Discordia implements a glass purple and lightblue details on your client!
 * @authorId 769144538107215872
 * @invite kaphShJrcb
*/

@import url('https://ungiglio.github.io/DiscordDiscordia/AWKGLASS/v2.awkglass.css');
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/horizontal_server_list/top.css"); /* comment/remove this line to restore the servers bar to its original position */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/colored_mentions/mentions.css"); /* credits to davart154 for the original code */

/* CUSTOMIZATION CONTROL CENTER */
:root {
  --rgb-highlight: 178, 102, 255;                          /* 4, 217, 255; /* The main highlight color */
  --rgb-close-button: 224, 58, 62;                         /* The main "close this" or "deny" color */
  --rgb-online-color: 31, 92, 171;                         /* (31, 147, 80: default green) /* The color used in the "online" user status symbol */
  --rgb-afk-color: 220, 163, 46;                           /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 224, 58, 62;                            /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 188, 19, 254;                     /* The color used in the "streaming X" user status symbol */
  --status-danger-rgb: rgb(152, 51, 255);                /* The color used for every danger action/button */

  --transition-time: .3s;                                  /* How fast animations added by the theme happen. Default is 0.3 seconds */

  --show-original-title: 0;                                /* Whether you want to show discords original title (0 means no, 1 means yes) */
  --show-custom-title: 1;                                  /* Whether you want to show a custom title (0 means no, 1 means yes) */
  --custom-title-text: "Lande della Discordia";            /* The custom text you want to display */
  --custom-title-font-size: 18px;                          /* The size in pixels of the custom title text */
  --custom-title-font-weight: normal;                      /* The font "weight" of the custom title text. For reference: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
  --custom-title-margin-top: 0px;                          /* The distance from the top of the window to the custom title text */
  --custom-title-margin-left: 10px;                        /* The distance from the left side of the window to the custom title text */

  --custom-channel-header-color: rgb(241, 236, 247);
  --custom-channel-icon: rgb(153, 118, 187);              /* channel list unselected color */
  --custom-selected-channel-color: rgb(78, 209, 203);     /* channel list selected color */
  --cat-custom-color-rgba: 120, 138, 167;
  --cat-custom-color: rgb(var(--cat-custom-color-rgba));

  --darkPurple-background: rgb(46, 0, 58);              /* Textarea background color */

  --HSL-server-icon-size: 45px;                           /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;                             /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column;                         /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */

  --custom-image-url: url('https://i.imgur.com/GcFkyZp.jpeg');  /* background image */
  --app-blur: 8px;                                              /* background image blur */

  --custom-logo: url('https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordia.png'); /* custom logo */
  --custom-logo-hover: url('https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordiaHover.png'); /* custom logo (hover) */

  /* FONTS */
    --font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-display: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-headline: 'ABC Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-code: 'gg mono', 'Source Code Pro', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
    --font-clan-body: Fraunces, 'gg sans', serif, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-clan-signature: Corinthia, 'gg sans', cursive, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-display-marketing: 'ABC Ginto Nord', 'gg sans', serif, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}