/* * CORE CHAT: INPUT BAR
 * Casella di testo e area di digitazione
 */

/* Contenitore Principale Input */
._740174f3d6a2c8fe-channelTextArea,
._740174f3d6a2c8fe-channelTextArea:focus-within {
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
    margin-bottom: 25px;
    border-radius: 8px;
}

/* Margini inferiori personalizzati */
._5e434347c823b592-container {
    --custom-chat-input-margin-bottom: 8px !important;
}

/* Sfondo area digitazione (interno) */
._740174f3d6a2c8fe-scrollableContainer {
    background: transparent;
}

/* Barra upload e comandi (Slash commands) */
._6c79861fd96f56b1-wrapper {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    color: rgb(178, 202, 255);
    background: var(--mention-background);
}

/* Nascondi bottoni inutili (Gift, Sticker, etc. se desiderato) */
div[class*="_740174f3d6a2c8fe-buttonContainer"]:has(div[class*="stickerButton"]) {
    display: none;
}