/* * CORE CHAT: FORUM & THREADS */

.lookFilled__201d5.colorBrand__201d5 {
    /* forum new post button */
    background-color: var(--highlight);
    color: rgb();
}

.lookFilled__201d5.colorBrand__201d5:hover {
    /* forum new post button hover */
    background-color: rgb(178, 52, 255);
}

.pinIcon__08166 {
    /* forum pin */
    background-color: var(--status-danger);
}

.reaction__23977.reactionMe__23977 {
    /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}

.reaction_f8896c.reactionMe_f8896c {
    /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}

.mainCard_f369db {
    /*forum posts cards */
    background: var(--bg-mod-faint);
    border: 1px solid var(--highlight);
    border-radius: var(--radius-md);
}

.mainCard_f369db:hover {
    /*forum posts cards hover */
    border: 1px solid var(--highlighted-channel-color) !important;
    background: var(--bg-mod-faint) !important;
}

.chatHeaderBar_a5700d {
    /* thread header bar (ex. blocked thread) */
    border-radius: 8px;
    background-color: var(--interactive-muted);
    box-shadow: var(--elevation-low);
    border: 1px solid var(--highlight);
}

.narrow_a5700d {
    /* thread header bar padding (ex. blocked thread) */
    padding: 5px 16px;
}

.themed__9293f,
.theme-dark .themed__9293f {
    border-radius: 8px 8px 0px 0px;
    background: var(--background-secondary);
}

.chatLayerWrapper__01ae2 {
    border-radius: 8px;
    margin-right: 20px;
    background: transparent;
}

.chat_f75fb0.threadSidebarOpen_f75fb0 {
    border-radius: 8px;
}

.resizeHandle__01ae2 {
    cursor: ew-resize;
    height: 100%;
    width: var(--chat-resize-handle-width);
    flex-shrink: 0;
    border-radius: 8px;
    margin: 0 5px;
    background: none;
}

.container__01ae2 {
    border-radius: 8px;
    background: var(--background-secondary);
}

.lookOutlined__201d5.colorGreen__201d5 {
    color: var(--online-color);
    border-color: var(--online-color);
}

.lookFilled__201d5.colorGreen__201d5 {
    color: var(--white);
    background-color: var(--online-color);
}

.titleContainer_d9be46 .input__0ed4f {
    /* fix to forum search bg */
    background: none;
}