/* * CORE CHAT: INPUT BAR */

.wrapper__6c798 {
    /* slash cmds */
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    color: rgb(178, 202, 255);
    background: var(--mention-background);
}

.previewForm_d9be46 {
    word-break: break-all;
}

.contentContainer_d9be46 .channelTextArea__74017,
.contentContainer_d9be46 .channelTextArea__74017:focus-within {
    /* new forum post textarea */
    background: var(--background-base-low);
    border: 1px solid var(--background-modifier-selected);
    border-radius: 8px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 4px 8px;
    position: relative;
}

.channelTextArea__74017,
.channelTextArea__74017:focus-within {
    /* textbar area */
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
    margin-bottom: 25px;
}

.container__5e434 {
    --custom-chat-input-margin-bottom: 8px !important;
}

/* hide Sticker e Gift button */
div[class*="_740174f3d6a2c8fe-buttonContainer"]:has(div[class*="stickerButton"]) {
    display: none;
}

.entryPointButtonContainer_a7d72e {
    /* APP DMs commands button */
    margin-bottom: 25px;
}

.upload_aa605f {
    /* media/files messages preview background */
    background: var(--background-secondary);
}

/* emoji tab wrapper inside input */
.wrapper__6c798 {
    background: var(--darkPurple-background);
}