/* * CORE CHAT: INPUT BAR */

._6c79861fd96f56b1-wrapper {
    /* slash cmds */
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    color: rgb(178, 202, 255);
    background: var(--mention-background);
}

.d9be463a3c35b91e-previewForm {
    word-break: break-all;
}

.d9be463a3c35b91e-contentContainer ._740174f3d6a2c8fe-channelTextArea,
.d9be463a3c35b91e-contentContainer ._740174f3d6a2c8fe-channelTextArea:focus-within {
    /* new forum post textarea */
    background: var(--background-base-low);
    border: 1px solid var(--background-modifier-selected);
    border-radius: 8px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 4px 8px;
    position: relative;
}

._740174f3d6a2c8fe-channelTextArea,
._740174f3d6a2c8fe-channelTextArea:focus-within {
    /* textbar area */
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
    margin-bottom: 25px;
}

._5e434347c823b592-container {
    --custom-chat-input-margin-bottom: 8px !important;
}

/* hide Sticker e Gift button */
div[class*="_740174f3d6a2c8fe-buttonContainer"]:has(div[class*="stickerButton"]) {
    display: none;
}

.entryPointButtonContainer_f75fb0 {
    /* APP DMs commands button */
    margin-bottom: 25px;
}

.aa605f19898fe32e-upload {
    /* media/files messages preview background */
    background: var(--background-secondary);
}

/* emoji tab wrapper inside input */
._6c79861fd96f56b1-wrapper {
    background: var(--darkPurple-background);
}