/* * CORE CHAT: MESSAGE AREA */

.chat_f75fb0 {
    background: var(--background-primary);
    border-radius: 10px;
    margin: 0 20px;
}

.mentioned__5126c:before {
    box-shadow: 4px 0px 6px 1px var(--button-background);
    background: var(--button-background);
}

.mentioned__5126c::before {
    background-color: var(--highlight);
}

.wrapper_f7ecac {
    /* message:hover popup */
    background: var(--darkPurple-background);
}

.wrapper_f7ecac:hover {
    /* message:hover popup */
    border: 1px solid var(--border-strong); /* Era custom-channel-icon */
}

.button_f7ecac.dangerous_f7ecac {
    color: var(--status-warning);
}

.button_f7ecac.dangerous_f7ecac:hover {
    color: var(--status-danger);
}

.miniPopover_aa605f.wrapper_f7ecac .button_f7ecac {
    height: 4px;
}

.miniPopover_aa605f.wrapper_f7ecac:hover {
    border: 1px solid var(--border-strong);
}

.replyBar__841c8 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.clipContainer__841c8 {
    overflow: hidden;
    padding-top: 0;
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0);
}

.container__551b0 {
    background: var(--background-secondary);
}

.unreadPillCapStroke__908e2 {
    color: var(--highlight);
    fill: var(--highlight)
}

.unreadPill__908e2 {
    background-color: var(--highlight);
}

.popoverReactionHoverBar_e986d9 {
    background: transparent;
}

.replying__5126c:hover {
    background-color: rgba(var(--rgb-highlight), 60%) !important;
}

.ephemeral__5126c {
    background-color: rgba(var(--rgb-highlight), 30%);
}

.ephemeral__5126c:hover {
    background-color: rgba(var(--rgb-highlight), 20%) !important;
}

.ephemeral__5126c::before {
    background-color: var(--highlight) !important;
}

.newMessagesBar__0f481 {
    height: 32px;
    top: 0px;
    border-radius: 8px;
    background-color: var(--highlight);
    box-shadow: var(--elevation-low);
}

.subtitleContainer_f75fb0 {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    background: transparent;
}

.theme-dark .subtitleContainer_f75fb0 {
    background: transparent;
}

.title_f75fb0 {
    position: relative;
    flex: 0 0 auto;
    z-index: 100;
    border-radius: 8px;
}

.disabledStrokeThrough {
    fill: var(--status-danger);
}

.divider__908e2 {
    border-top: none;
}

.chatContent_f75fb0 {
    border-radius: 0px 0px 0px 8px;
    background: var(--background-secondary);
}

.botTagOP__82f07 {
    color: var(--white);
}

.spine__5b40b {
    color: rgb(121, 121, 121);
}

.spineBorder__5b40b {
    background: rgb(121, 121, 121);
}

.containerDefault_c69b6d:hover .spineBorder__5b40b {
    background: var(--white);
}

.jumpToPresentBar__0f481 {
    background-color: var(--darkPurple-background);
    border: 1px solid var(--border-subtle);
}

.divider__5126c {
    margin-right: 50px;
}

.endCap__908e2 svg {
    display: none;
}

.chatGradient__36d07 {
    background: transparent;
}

span[class*="timestampInline_"] time::before {
    content: attr(aria-label);
    font-size: 12px;
}

.mentionIcon__841c8 {
    margin-right: 0px;
}

.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786,
.ripple_a8e786 {
    background: var(--online-color);
}

.theme-dark .container_a8e786:not(.playing_a8e786) .playButtonContainer_a8e786:hover {
    background: var(--online-color);
    filter: brightness(85%);
}

.emptyChannelIcon__00de6 {
    background-color: var(--background-primary);
}

.embedFull__623de {
    background: var(--background-secondary);
    border-radius: 5px;
}



/* New Messages Divider */
.content__908e2 {
    background: transparent; 
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
}

.endCap__908e2 {
    color: var(--cat-custom-color) !important;
    background: transparent;
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
    padding: 1.5px 4px;
    backdrop-filter: blur(100px);
    right: -46px;
}