/* * UI CORE: SCROLLBARS
 * Personalizzazione barre di scorrimento
 */

/* Scrollbar liste generiche */
._99f8cc7ad4790ce9-auto.f369dba7416c67f0-list._99f8cc7ad4790ce9-scrollerBase::-webkit-scrollbar {
    width: 5px;
}

._99f8cc7ad4790ce9-auto.f369dba7416c67f0-list._99f8cc7ad4790ce9-scrollerBase::-webkit-scrollbar-thumb {
    background: var(--darkPurple-background);
}

._99f8cc7ad4790ce9-auto.f369dba7416c67f0-list._99f8cc7ad4790ce9-scrollerBase::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

/* Scrollbar lista canali (Nascosta o ridotta) */
._629e4c86564a4ee7-scroller::-webkit-scrollbar {
    display: block;
}

._629e4c86564a4ee7-scroller::-webkit-scrollbar-thumb {
    background: rgba(43, 45, 49, 0);
}

._36d072eab2b2e737-scroller::-webkit-scrollbar {
    width: 12px;
}