@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/horizontal_server_list/top.css");

html:only-child > head + body div.app_a3002d > div.app__160d8::before {
	content: "Your Version of Lande della Discordia by ungiglio is outdated. Please download the newest Version: https://github.com/ungiglio/DiscordDiscordia/releases" !important;
	background-color: var(--highlight-darker) !important;
	color: var(--header-primary) !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	height: 36px !important;
	line-height: 36px !important;
	opacity: 1 !important;
	padding-left: 4px !important;
	padding-right: 28px !important;
	position: relative !important;
	text-align: center !important;
	visibility: unset !important;
	white-space: pre !important;
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
	right: unset !important;
	max-width: unset !important;
	min-width: unset !important;
	max-height: unset !important;
	min-height: unset !important;
	transform: unset !important;
	animation: unset !important;
	z-index: 101 !important;
	pointer-events: none !important;
}