/* * CORE MODULES: EXTRAS */

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* === 1. ANIMAZIONI ICONE === */
button._67645e1530f1195d-button._67645e1530f1195d-redGlow,
span._67645e1530f1195d-button._67645e1530f1195d-redGlow {
    background: none;
}

button._67645e1530f1195d-button._67645e1530f1195d-enabled._67645e1530f1195d-redGlow:hover,
span._67645e1530f1195d-button._67645e1530f1195d-enabled._67645e1530f1195d-redGlow:hover {
    background-color: var(--button-secondary-background-hover);
}

._20a53846fe2e8513-avatar:hover>svg,
._2ea32c412048f708-icon:hover,
._972a0d22c8afa7f0-closeIcon:hover {
    animation: icon1 2.5s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes icon1 {
    100% { transform: rotate(360deg); }
}

/* === 2. TITLE BAR & FONT === */

._421edea01cb52e16-wordmark {
    /* Applica il font al contenitore */
    color: var(--highlighted-channel-color);
    font-family: "Pirata One", system-ui !important;
}

._421edea01cb52e16-wordmark svg {
    width: calc(55px*var(--show-original-title));
    height: calc(16px*var(--show-original-title));
}

._421edea01cb52e16-wordmark::after {
    /* Applica il font anche al testo generato */
    content: var(--custom-title-text);
    font-family: "Pirata One", system-ui !important;
    font-size: calc(var(--custom-title-font-size)*var(--show-custom-title));
    font-weight: var(--custom-title-font-weight);
    margin-top: var(--custom-title-margin-top);
    margin-left: var(--custom-title-margin-left);
    display: block;
}

/* === 3. AVATAR & LISTE === */
.a2f5142ba8328dfd-container {
    background: rgba(0, 0, 0, 0.692);
}

._972a0d22c8afa7f0-avatarWithText & ._20a53846fe2e8513-content {
    color: transparent;
}

/* === 4. PLUGIN & MODULI === */
._6e2b9359c6f84cfd-colorDefault,
.colorSuccess__6e2b9 {
    background: var(--highlight-darker);
    --custom-notice-text: white;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 20px;
    margin-left: 8px;
}

.f75fb00fb7356cbe-guildSidebar {
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.c0bea05627c5dc35-outer {
    border-radius: 10px !important;
}

._656be05658eed04d-sidebarContainer {
    margin: 0;
}

._656be05658eed04d-innerContainer {
    border-radius: 10%;
}

.directoryContainer_da3f59 {
    height: calc(100% - var(--app-margin) * 1.5);
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
}

._5bc7ed9d4097f6b5-circleIconButton {
    color: var(--highlight);
}

._5bc7ed9d4097f6b5-circleIconButton:hover {
    background-color: var(--highlight);
}

/* === 5. STATI ATTIVITA' === */
#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#593695"],
#app-mount ._44b0c28be7879b7b-wrapper rect[mask*=streaming] {
    fill: var(--streaming-color);
}

#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#45a25a"],
#app-mount ._44b0c28be7879b7b-wrapper rect[mask*=online] {
    fill: var(--online-color);
}

#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#ca9654"],
#app-mount ._44b0c28be7879b7b-wrapper rect[mask*=idle] {
    fill: var(--afk-color);
}

#app-mount ._44b0c28be7879b7b-wrapper rect[fill="#d83a42"],
#app-mount ._44b0c28be7879b7b-wrapper rect[mask*=dnd] {
    fill: var(--dnd-color);
}

/* === 6. DETTAGLI VARI === */
._82f0793afa59e5dc-botText,
._82f0793afa59e5dc-botTagVerified {
    color: 39, 72, 206;
}

._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-childWrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}

._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-childWrapper:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-childWrapper img {
    display: none;
}

.avatarSpeaking__07f91,
.avatarSpeaking__44b0c,
._2f4f7eb58b61c328-border._2f4f7eb58b61c328-speaking {
    box-shadow: inset 0 0 0 2px var(--online-color), inset 0 0 0 3px var(--background-secondary) !important;
}

.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe .f8896c4f6be18f59-reactionCount {
    color: var(--brand-200);
}

._23977d5b7cef7361-reactionMe ._23977d5b7cef7361-reactionCount {
    color: var(--brand-200) !important;
}

._3b95d7d910416e54-mention {
    border: 1.5px solid var(--status-danger);
    border-radius: 5px;
    box-shadow: none;
}

._3b95d7d910416e54-mention:active {
    background: var(--status-danger);
    filter: brightness(80%);
}

.e2d7b8b5e6e6e751-channelNotice {
    background: var(--background-tertiary);
    margin: 5px 5px 0px 5px;
    border-radius: 10px;
}

.e2d7b8b5e6e6e751-liveIndicator {
    background-color: var(--online-color);
    animation-name: livedot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes livedot {
    0% { background-color: var(--online-color); }
    50% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: var(--online-color); }
}

._2ea32c412048f708-iconContainerWithGuildIcon ._2894cba534d7d8a0-icon {
    margin-left: 0px;
    margin-top: 0px;
    width: 20px;
    height: 20px;
    background: none !important;
}

._2ea32c412048f708-iconContainerWithGuildIcon ._2894cba534d7d8a0-icon > path {
    display: none;
}

._2ea32c412048f708-iconContainerWithGuildIcon ._2338f50c3988e5ec-svg {
    position: absolute;
    top: -6px;
    left: -10px;
    overflow: visible !important;
    width: calc(25px + var(--space-xxs) + var(--space-xxs));
    height: calc(28px + var(--space-xxs) + var(--space-xxs));
    contain: none;
}

._2ea32c412048f708-iconContainerWithGuildIcon ._2338f50c3988e5ec-svg foreignObject {
    mask: none !important;
    overflow: hidden !important;
    border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
    width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
}

._2ea32c412048f708-iconContainerWithGuildIcon ._2338f50c3988e5ec-svg foreignObject ._2894cba534d7d8a0-channelGuildIcon {
    position: absolute;
    top: calc(0px - var(--space-xxs) - var(--space-xxs));
    width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
    height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
    border-radius: 0px !important;
}