/* * CORE MODULES: EXTRAS */

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* === 1. ANIMAZIONI ICONE === */
button.button__67645.redGlow__67645,
span.button__67645.redGlow__67645 {
    background: none;
}

button.button__67645.enabled__67645.redGlow__67645:hover,
span.button__67645.enabled__67645.redGlow__67645:hover {
    background-color: var(--button-secondary-background-hover);
}

.avatar__20a53:hover>svg,
.icon__2ea32:hover,
.closeIcon__972a0:hover {
    animation: icon1 2.5s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes icon1 {
    100% { transform: rotate(360deg); }
}

/* === 2. TITLE BAR & FONT === */

.wordmark__421ed {
    /* Applica il font al contenitore */
    color: var(--highlighted-channel-color);
    font-family: "Pirata One", system-ui !important;
}

.wordmark__421ed svg {
    width: calc(55px*var(--show-original-title));
    height: calc(16px*var(--show-original-title));
}

.wordmark__421ed::after {
    /* Applica il font anche al testo generato */
    content: var(--custom-title-text);
    font-family: "Pirata One", system-ui !important;
    font-size: calc(var(--custom-title-font-size)*var(--show-custom-title));
    font-weight: var(--custom-title-font-weight);
    margin-top: var(--custom-title-margin-top);
    margin-left: var(--custom-title-margin-left);
    display: block;
}

/* === 3. AVATAR & LISTE === */
.container_a2f514 {
    background: rgba(0, 0, 0, 0.692);
}

.avatarWithText__972a0 & .content__20a53 {
    color: transparent;
}

/* === 4. PLUGIN & MODULI === */
.colorDefault__6e2b9,
.colorSuccess__6e2b9 {
    background: var(--highlight-darker);
    --custom-notice-text: white;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 20px;
    margin-left: 8px;
}

.guildSidebar_f75fb0 {
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.outer_c0bea0 {
    border-radius: 10px !important;
}

.sidebarContainer__656be {
    margin: 0;
}

.innerContainer__656be {
    border-radius: 10%;
}

.directoryContainer_da3f59 {
    height: calc(100% - var(--app-margin) * 1.5);
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
}

.circleIconButton__5bc7e {
    color: var(--highlight);
}

.circleIconButton__5bc7e:hover {
    background-color: var(--highlight);
}

/* === 5. STATI ATTIVITA' === */
#app-mount .wrapper__44b0c rect[fill="#593695"],
#app-mount .wrapper__44b0c rect[mask*=streaming] {
    fill: var(--streaming-color);
}

#app-mount .wrapper__44b0c rect[fill="#45a25a"],
#app-mount .wrapper__44b0c rect[mask*=online] {
    fill: var(--online-color);
}

#app-mount .wrapper__44b0c rect[fill="#ca9654"],
#app-mount .wrapper__44b0c rect[mask*=idle] {
    fill: var(--afk-color);
}

#app-mount .wrapper__44b0c rect[fill="#d83a42"],
#app-mount .wrapper__44b0c rect[mask*=dnd] {
    fill: var(--dnd-color);
}

/* === 6. DETTAGLI VARI === */
.botText__82f07,
.botTagVerified__82f07 {
    color: 39, 72, 206;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}

.tutorialContainer__1f388 .childWrapper__6e9f8:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.tutorialContainer__1f388 .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 img {
    display: none;
}

.avatarSpeaking_d80634,
.avatarSpeaking_c51b4e,
.border__2f4f7.speaking__2f4f7 {
    box-shadow: inset 0 0 0 2px var(--online-color), inset 0 0 0 3px var(--background-secondary) !important;
}

.reaction_f8896c.reactionMe_f8896c .reactionCount_f8896c {
    color: var(--brand-200);
}

.reactionMe__23977 .reactionCount__23977 {
    color: var(--brand-200) !important;
}

.mention__3b95d {
    border: 1.5px solid var(--status-danger);
    border-radius: 5px;
    box-shadow: none;
}

.mention__3b95d:active {
    background: var(--status-danger);
    filter: brightness(80%);
}

.channelNotice_e2d7b8 {
    background: var(--background-tertiary);
    margin: 5px 5px 0px 5px;
    border-radius: 10px;
}

.liveIndicator_e2d7b8 {
    background-color: var(--online-color);
    animation-name: livedot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes livedot {
    0% { background-color: var(--online-color); }
    50% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: var(--online-color); }
}

.iconContainerWithGuildIcon__2ea32 .icon__2894c {
    margin-left: 0px;
    margin-top: 0px;
    width: 20px;
    height: 20px;
    background: none !important;
}

.iconContainerWithGuildIcon__2ea32 .icon__2894c > path {
    display: none;
}

.iconContainerWithGuildIcon__2ea32 .svg__2338f {
    position: absolute;
    top: -6px;
    left: -10px;
    overflow: visible !important;
    width: calc(25px + var(--space-xxs) + var(--space-xxs));
    height: calc(28px + var(--space-xxs) + var(--space-xxs));
    contain: none;
}

.iconContainerWithGuildIcon__2ea32 .svg__2338f foreignObject {
    mask: none !important;
    overflow: hidden !important;
    border-radius: var(--radius-sm) 0 0 var(--radius-sm) !important;
    width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
}

.iconContainerWithGuildIcon__2ea32 .svg__2338f foreignObject .channelGuildIcon__2894c {
    position: absolute;
    top: calc(0px - var(--space-xxs) - var(--space-xxs));
    width: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
    height: calc(28px + var(--space-xxs) + var(--space-xxs)) !important;
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
    border-radius: 0px !important;
}