/* * CORE MODULES: MODALS */

.info__2debe::before, .compact__2debe::before {
    /* settings theme version */
    content: var(--ver);
    color: var(--text-muted);
    font-size: 12px;
}

.info__2debe:last-child::after {
    content: "Terminal 1.0.0";
    font-size: 12px;
    line-height: 16px;
    color: rgb(var(--rgb-highlight))
}

.toast__3fde7 {
    /* Discord interaction notifications */
    border: 2px solid var(--online-color) !important;
    color: whitesmoke !important;
    border-radius: 7px !important;
    background-color: var(--background-primary) !important;
}

.icon__3fde7 path {
    fill: whitesmoke !important;
}

.input__0ed4f,
.input__0ed4f {
    /* settings inputs bg color */
    background-color: rgba(30, 2, 46, 0.596);
}

.checked__3f21e path {
    /* settings check slider */
    fill: var(--online-color) !important;
}

.checked__3f21e {
    /* settings check slider */
    background-color: var(--online-color) !important;
}

.focusLock__49fc1 {
    /* vencord plugin settings/info */
    background: rgba(255, 255, 255, 0);
}

.large__49fc1,
.medium__49fc1,
.small__49fc1,
.modal_b545d5,
.form__918e5,
.oauth2ModalWrapper_c2b22e,
.bd-modal-root,
.prompt_fe70ca,
.root__49fc1 {
    /* modal theme */
    background: var(--background-mentioned-hover);
    border-radius: 10px;
    border: 1px solid var(--highlight) !important;
    backdrop-filter: blur(50px);
}

.container_b7f4b4,
.reactors_b7f4b4 {
    /* reactions modal bg theme */
    background: rgba(105, 15, 133, 0.8);
}

.header_d0b769,
.footer_f24a96,
.footer__49fc1,
.bd-modal-footer {
    /* modal footer color */
    background-color: rgba(35, 35, 35, 0.75);
    border-radius: 10px;
}

.voiceChannelsButton_a08117 {
    /* show more voice channels button */
    border: 1px solid var(--border-subtle);
}

.voiceChannelsButton_a08117:hover {
    border: 1px solid var(--highlight);
    background: var(--background-secondary);
}

.custom-profile-theme .themeColor_f9d37d.primary_f9d37d {
    /* nitro profile buttons */
    background: var(--button-background-static);
}

.permissionCheckmark__50a54 {
    background: url(https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/bluetick.svg) no-repeat;
}

.container__9a9f9 {
    /* save settings banner */
    background-color: var(--darkPurple-background);
    border: 1px solid var(--highlight);
}

.container_d829e7,
.ctaContainer_d829e7 {
    /* nitro emoji bg */
    background-color: var(--darkPurple-background);
}

.icon_c9d15c path {
    fill: var(--online-color);
}

.notice__6e2b9 {
    /* Streamer mode bar */
    border-radius: 10px;
    margin: 5px 20px 5px 10px;
}

.container_cb32c7 {
    /* commands/apps/activities panel */
    background-color: var(--background-tertiary);
}

.reactionSelected_b7f4b4 {
    /* reaction selected */
    border: 1px solid var(--border-strong);
}

.container__9a337.isOpen__9a337 {
    border: 1px solid var(--border-strong);
}

.connection_c7f964 {
    /* connection tab customisation */
    background: none;
}

.connection_c7f964:hover {
    /* connection tab customisation */
    border: 1px solid var(--highlight);
}

.connectionHeader_c7f964 {
    /* connection tab customisation */
    background: var(--background-tertiary);
}

.connectionOptionsWrapper_e2a436 {
    /* connection tab customisation */
    border-radius: 0 0 10px 10px;
    background: var(--background-secondary);
}

.carouselModal_d3a6f0 {
    /* images modal */
    border: none !important;
}

.actionButtons_cc1819,
.closeButton__6088c .buttonInner_aec7ab {
    /* images modal buttons */
    border: 1px solid var(--highlight);
}

.actionButton_dda074:hover,
.buttonInner_aec7ab:hover {
    /* images modal buttons hover */
    background-color: var(--highlight-darker);
}

:root:has(.carouselModal_d3a6f0:not([hidden]):not([style*="display: none"])) .winButton_c38106 {
    /* images modal windows buttons restyle */
    border-top: 1px solid var(--highlight);
    border-bottom: 1px solid var(--highlight);
    margin-bottom: 10px;
}