.unread__2ea32,
.wrapper__2ea32:hover .unread__2ea32 {
    background-color: var(--highlighted-channel-color) !important;
    border-radius: 1.5px;
    left: -8px;
}

.isUnread__908e2 {
    border: 1px solid var(--new-msg-divider) !important;
}

.isUnread__908e2 .content__908e2 {
    backdrop-filter: blur(100px);
    background-color: var(--background-secondary);
    color: var(--new-msg-divider) !important;
}