.panels__5e434::after {
    content: var(--ver);
    color: var(--text-default);
    font-size: 11px;
    position: absolute;
    font-family: Consolas;
    bottom: -21px;
    background: var(--darkPurple-background);
    padding: 5px;
    border: solid 1px var(--highlight);
    border-top: var(--darkPurple-background);
    border-radius: 8px;
    opacity: var(--show-dev-panel-info-static);
    pointer-events: calc(var(--show-dev-panel-info-static) * 1);
}

.panels__5e434:hover::after {
    content: var(--ver);
    color: var(--text-default);
    font-size: 11px;
    position: absolute;
    font-family: Consolas;
    bottom: -21px;
    background: var(--darkPurple-background);
    padding: 5px;
    border: solid 1px var(--highlight);
    border-top: var(--darkPurple-background);
    border-radius: 8px;
    opacity: var(--show-dev-panel-info-hover);
    pointer-events: calc(var(--show-dev-panel-info-hover) * 1);
}