/*
 *author        @ungiglio
 *description   Colored userlist based on user status
 *internalcode  AWKGLASS
*/

.c8ffbb79449f399c-member {
    /* userlist */
    background: var(--background-primary);
}

.c8ffbb79449f399c-member:hover {
    /* userlist hover */
    border-left: 3px solid #80848e;
    border-top: 1px solid var(--app-border-frame);
    border-bottom: 1px solid var(--app-border-frame);
    border-right: 1px solid var(--app-border-frame);
}

/* Online status */
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-online)"]):hover,
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-online-mobile)"]):hover {
    border-left: 3px solid var(--online-color);
    /* Online color */
}

/* Do Not Disturb status */
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-dnd)"]):hover,
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-dnd-mobile)"]):hover {
    border-left: 3px solid var(--dnd-color);
    /* DND color */
}

/* Idle/Inactive status */
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-idle)"]):hover,
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-idle-mobile)"]):hover {
    border-left: 3px solid var(--afk-color);
    /* Idle color */
}

/* Streaming status */
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-streaming)"]):hover {
    border-left: 3px solid var(--streaming-color);
    /* Streaming color */
}

/* Offline status */
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-offline)"]):hover,
.c8ffbb79449f399c-member:has(rect[mask="url(#svg-mask-status-invisible)"]):hover {
    border-left: 3px solid #80848e;
    /* Offline color */
}

._91a9d7f7e5248a56-selected {
    /* userlist selected */
    background: none;
    border-radius: 3px;
    border-left: 3px solid var(--highlight);
    border-top: 1px solid var(--app-border-frame);
    border-bottom: 1px solid var(--app-border-frame);
    border-right: 1px solid var(--app-border-frame);
}

._91a9d7f7e5248a56-selected ._91a9d7f7e5248a56-childContainer {
    background: none;
}

.icon__8ac07 path[fill="#23a55a"] { /* userlist activity icons color */
    fill: var(--online-color);
}

.PI-icon_desktop[data-status="online"], .PI-icon_mobile[data-status="online"], .PI-icon_embedded[data-status="online"], .PI-icon_web[data-status="online"] { /* Platform Indicator plugin colors */
    color: var(--online-color) !important;
}

._91a9d7f7e5248a56-container {
    color: var(--memberlist-text);
}