/*
 *name          Lande della Discordia
 *author        @ungiglio
 *internalcode  AWKGLASS
*/

@import url("https://ungiglio.github.io/DiscordDiscordia/horizontal_server_list/top.css");
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root,
.theme-dark,
.theme-light {
    /*Background*/
    --background-image: var(--custom-image-url);
    --app-blur: 8px;
    --button-background: linear-gradient(60deg, var(--highlight), var(--highlight-darker));
    --button-background-static: var(--highlight);
    --background-primary: rgba(24, 24, 24, 0.26) !important;
    --background-secondary: rgba(26, 26, 26, 0.500) !important;
    --background-modifier-hover : rgba(20, 20, 20, 0.500) ;
    --box-shadow: 0 0 10px 0px black;

    /*other*/
    --highlight: rgb(var(--rgb-highlight));
    --highlight-darker: hsl(from var(--highlight) calc(h + 15) s calc(l - 35)); /*color-mix(in srgb,var(--highlight),#000 50%);*/
    --text: var(--text-muted);
    --online-color: rgb(var(--rgb-online-color));
    --afk-color: rgb(var(--rgb-afk-color));
    --dnd-color: rgb(var(--rgb-dnd-color));
    --streaming-color: rgb(var(--rgb-streaming-color));
    --scrollbar-thin-thumb: var(--highlight);
    --scrollbar-auto-thumb: var(--highlight);
    --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --transition-time: 0.3s;
    --show-original-title: 0;
    --show-custom-title: 1;
    --custom-title-text: "Lande della Discordia";
    --custom-title-font-size: 16px;
    --custom-title-font-weight: normal;
    --custom-title-margin-top: 0px;
    --custom-title-margin-left: 0px;

    --logo-primary: var(--highlight);
    --control-brand-foreground: var(--highlight);
    --control-brand-foreground-new: var(--highlight);
    --background-mentioned: rgba(var(--rgb-highlight), 10%);
    --background-mentioned-hover: rgba(var(--rgb-highlight), 20%);
    --background-message-hover: color-mix(in oklab,hsl(var(--primary-900-hsl) / 0.06) 100%,hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.06) var(--theme-base-color-amount, 0%));
    --background-message-highlight: rgba(var(--rgb-highlight), 30%);
    --background-message-highlight-hover: rgba(var(--rgb-highlight), 40%);
    --background-message-automod: rgba(var(--rgb-highlight), 20%);
    --background-message-automod-hover: rgba(var(--rgb-highlight), 40%);
    --channeltextarea-background: color-mix(in oklab,var(--primary-560) 100%,var(--theme-base-color, black) var(--theme-base-color-amount, 0%));
    --text-link: var(--highlight);
    --text-link-low-saturation: rgba(var(--rgb-highlight), 50%);
    --text-positive: var(--online-color);
    --text-warning: var(--afk-color);
    --text-danger: var(--dnd-color);
    --text-brand: var(--highlight);
    --channels-default: var(--text);
    --interactive-muted: rgba(180, 180, 180, 0.493);
    --button-danger-background-disabled: rgba(var(--rgb-close-button), 20%);
    --button-danger-background: rgba(var(--rgb-close-button), 100%);
    --button-danger-background-hover: rgba(var(--rgb-close-button), 70%);
    --button-danger-background-active: rgba(var(--rgb-close-button), 100%);
    --button-outline-danger-border: rgba(var(--rgb-close-button), 100%);
    --button-outline-danger-background: rgba(var(--rgb-close-button), 50%);
    --button-outline-danger-background-hover: rgba(var(--rgb-close-button), 100%);
    --button-outline-danger-background-active: rgba(var(--rgb-close-button), 100%);
    --button-outline-danger-text: rgb(255, 255, 255);
    --button-outline-danger-text-hover: rgb(255, 255, 255);
    --button-outline-danger-text-active: rgba(var(--rgb-close-button), 100%);
    --button-outline-danger-border-hover: rgba(var(--rgb-close-button), 70%);
    --button-outline-danger-border-active: rgba(var(--rgb-close-button), 100%);
    --button-positive-background-disabled: rgba(var(--rgb-online-color), 20%);
    --button-positive-background: rgba(var(--rgb-online-color), 20%);
    --button-positive-background-hover: rgba(var(--rgb-online-color), 70%);
    --button-positive-background-active: rgba(var(--rgb-online-color), 100%);
    --button-outline-positive-border: rgba(var(--rgb-online-color), 50%);
    --button-outline-positive-background: rgba(var(--rgb-online-color), 50%);
    --button-outline-positive-background-hover: rgba(var(--rgb-online-color), 70%);
    --button-outline-positive-background-active: rgba(var(--rgb-online-color), 100%);
    --button-outline-positive-text: rgba(var(--rgb-online-color), 50%);
    --button-outline-positive-text-hover: rgba(var(--rgb-online-color), 70%);
    --button-outline-positive-text-active: rgba(var(--rgb-online-color), 100%);
    --button-outline-positive-border-hover: rgba(var(--rgb-online-color), 70%);
    --button-outline-positive-border-active: rgba(var(--rgb-online-color), 100%);
    --button-primary-background-disabled: rgba(var(--rgb-highlight), 20%);
    --button-primary-background: rgba(var(--rgb-highlight), 20%);
    --button-primary-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-primary-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-primary-border: rgba(var(--rgb-highlight), 50%);
    --button-outline-primary-background: rgba(var(--rgb-highlight), 50%);
    --button-outline-primary-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-primary-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-primary-text: rgba(var(--rgb-highlight), 50%);
    --button-outline-primary-text-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-primary-text-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-primary-border-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-primary-border-active: rgba(var(--rgb-highlight), 100%);
    --button-secondary-background-disabled: rgba(var(--rgb-highlight), 20%);
    --button-secondary-background: rgba(var(--rgb-highlight), 20%);
    --button-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-secondary-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-secondary-border: rgba(var(--rgb-highlight), 50%);
    --button-outline-secondary-background: rgba(var(--rgb-highlight), 50%);
    --button-outline-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-secondary-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-secondary-text: rgba(var(--rgb-highlight), 50%);
    --button-outline-secondary-text-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-secondary-text-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-secondary-border-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-secondary-border-active: rgba(var(--rgb-highlight), 100%);
    --button-brand-background-disabled: rgba(var(--rgb-highlight), 20%);
    --button-brand-background: rgba(var(--rgb-highlight), 20%);
    --button-brand-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-brand-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-brand-border: rgba(var(--rgb-highlight), 50%);
    --button-outline-brand-background: rgba(var(--rgb-highlight), 50%);
    --button-outline-brand-background-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-brand-background-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-brand-text: rgba(var(--rgb-highlight), 50%);
    --button-outline-brand-text-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-brand-text-active: rgba(var(--rgb-highlight), 100%);
    --button-outline-brand-border-hover: rgba(var(--rgb-highlight), 70%);
    --button-outline-brand-border-active: rgba(var(--rgb-highlight), 100%);
    --search-popout-option-user-nickname: var(--highlight);
    --search-popout-option-user-username: rgba(var(--rgb-highlight), 70%);
    --search-popout-option-filter-text: rgba(var(--rgb-highlight), 70%);
    --search-popout-date-picker-border: 1px solid var(--highlight);
    --status-danger-background: var(--status-danger);
    --channel-header-color: var(--custom-channel-header-color);
    --channel-icon: var(--custom-channel-icon);
    --selected-channel-color: var(--custom-selected-channel-color);
    --cat-color: var(--cat-custom-color);
    --cat-color-rgba: var(--cat-custom-color-rgba);
    --status-danger: var(--status-danger-rgb);
    --status-warning: var(--afk-color);
    --status-positive: var(--online-color);
    --profile-gradient-primary-color: var(--rgb-background);
    --profile-gradient-secondary-color: var(--rgb-background);
    --menu-item-default-active-bg: var(--highlight);
    --menu-item-default-hover-bg: var(--highlight);

    --bg-brand: var(--highlight);
    --darkPurple-background: rgb(46, 0, 58);
}

.bg_d4b6c5{
    background: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link_c91bad:hover, .interactive_c91bad:hover{
    background: var(--button-background);
    border-radius: 3px;
    color: rgb(233, 233, 233);
}

#app-mount .guilds_a4d4d9 [class*=pill] span[style*="height: 40"] {
    background-color: var(--selected-channel-color);
}

.content_a4d4d9{
    background-color: transparent;
}

.footer_aa1bff{
    background-color: transparent !important;
}

.side_a0 .item_a0:hover, .containerDefault_f6f816:hover{
    border-radius: 3px;
    background: var(--button-background);
    color: white;
}

.memberInner_a31c43:hover{
    background: var(--background-mentioned);
}

.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: var(--background-mentioned);
}

.wrapper_d8bfb3:hover .link_d8bfb3 {
    background: none;
}

.mentioned_d5deea:before {
    box-shadow: 4px 0px 6px 1px var(--button-background);
    background: var(--button-background);
}

.platform-win .sidebar_a4d4d9, .container_c2739c, .chat_a7d72e{
    border-radius: 10px;
    margin: 20px;
    box-shadow: var(--box-shadow);
}

.guilds_a4d4d9{
    border-radius: 10px;
    margin: 6px;
    margin-left: 0px;
}

.wordmarkWindows_a934d8{
    display: none;
}

.childWrapperNoHoverBg_f90abb>svg{
    color: white;
}

#app-mount .sidebar_a4d4d9 {
    border-radius: 10px;
}

.lookFilled_dd4f85.colorBrand_dd4f85, .lookFilled_dd4f85.colorPrimary_dd4f85, .botTagRegular_a9e77f, .unread_fd8ff1{
    background: var(--button-background-static);
}

.modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3:hover .name_d8bfb3{
    color: white;
}

.layers_a01fb1 {
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    border-radius: var(--app-radius);
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(var(--app-blur));
}

.chatTarget_d1c246:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: var(--popout-color);
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  #channelTabs-container {
    margin: calc(var(--app-margin) / 2) var(--app-margin) calc(var(--app-margin) / 4 * -1);
    padding: 4px !important;
    background-color: var(--sidebar-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
  }

  .directoryContainer_da3f59 {
    height: calc(100% - var(--app-margin) * 1.5);
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
  }

  .titleContainer_e87574:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  .header_bd05f1:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
  }

  .wrapper_d1fdce .card_d1fdce {
    background-color: var(--card-color-select);
    border-radius: var(--card-radius);
    backdrop-filter: blur(var(--app-blur));
  }

.winButton_a934d8 {
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.lookFilled_f6639d.select_f6639d{
    border: solid transparent;
}

.theme-dark .container_b2ca13 ,.theme-dark .panel_bf1a22, .container_effbe2, .searchBar_f0963d, .lookFilled_f6639d.select_f6639d, .connectionHeader_e2a436, .container_a6d69a, .connectContainer_e2a436 , .container_c2739c, .theme-dark .scroller_c47fa9, .wrapper_d880dc.minimum_d880dc{
    background-color: var(--background-secondary);
}

 .sidebarRegionScroller_c25c6d, .contentRegionScroller_c25c6d, .searchBar_e0840f, .searchHeader_b7c924 , .searchResultsWrap_c2b47d, .sidebar_a4d4d9, .privateChannels_f0963d, .nowPlayingColumn_c2739c, .container_bf550a, .channelTextArea_a7d72e, .container_cbd271, .chatContent_a7d72e, .wrapper_fea3ef{
    background-color: var(--background-primary);
}

.theme-dark .sidebarContainer_a3a4ce{
    background-color: var(--background-secondary);
}

.form_a7d72e:before, .themedBackground_d0696b, .searchResult_ddc613, .popoverReactionHoverBar_e986d9 {
    background: transparent;
}

.avatarWithText_c91bad & .content_ec8679{
    color: transparent;
}

.avatar_ec8679:hover > svg, .icon_d8bfb3:hover, .closeIcon_c91bad:hover{
    animation: icon1 2.5s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes icon1 {
    100% { 
        transform: rotate(360deg); 
    }
}

.container_e40c16{
    background: rgba(0, 0, 0, 0.692);
}

.button_df39bd{
    background-color: var(--background-secondary);
}

.numberBadge__40d6f {
    background-color: rgba(var(--rgb-highlight), 70%) !important;
    color: var(--background)
}

.isUnread_fc5f50 {
    border: 1px solid var(--highlight)
}

.content_fc5f50 {
    color: var(--highlight) !important
}

.unread_d8bfb3,
.wrapper_d8bfb3:hover .unread_d8bfb3 {
    background-color: var(--selected-channel-color)
}

.popoverReactionHoverBar_e986d9 { /* message:hover popup */
  background: var(--darkPurple-background);
}
.popoverReactionHoverBar_e986d9:hover { /* message:hover popup */
  border: 1px solid var(--custom-channel-icon);
}

.wrapper_bf1b19 { /* slash cmds */
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    color: rgb(178, 202, 255);
    background: var(--mention-background);
}

.replyBar_b11c5e {  /*reply box over textarea */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: solid 1px var(--highlight);
}
.clipContainer_b11c5e { /*reply box over textarea */
    overflow: hidden;
    padding-top: 0;
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0);
}

.guildSeparator-33mFX6 {
    border-radius: 2px
}

.unreadPillCapStroke_fc5f50 {
    color: var(--highlight);
    fill: var(--highlight)
}

.unreadPill_fc5f50 {
    background-color: var(--highlight);
    color: var(--background) !important
}

.channelTextArea_a7d72e {   /* textbar area */
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
}
.themedBackground_d0696b {
    background: var(--bg-overlay-3, var(--darkPurple-background));
}
.themedBackground_bdf0de {
    background: var(--bg-overlay-3, var(--darkPurple-background));
}


.theme-dark .children_e44302:after,
.form_a7d72e::before,
.option_b0286e:after {
    display: none
}

.childWrapper_f90abb { /* discord logo color */
    color: var(--highlight);
}

.vc-ranb-button {
    color: rgb(78, 209, 203);
}

.theme-dark .buttonContainer_df39bd { /* apps cmds (near text area) border color */
    margin-top: auto;
    border: 1px solid var(--highlight);
    border-radius: 10px;
    background: var(--darkPurple-background);
}
.button_df39bd {    /* apps cmds (near text area) background */
    background: transparent;
}

.containerDefault_f6f816 .name_d8bfb3 { /* channel color */
    color: var(--channel-icon);
}
.containerDefault_f6f816:hover .name_d8bfb3 { /* channel color */
    color: white;
}
.containerDefault_f6f816:hover .icon_d8bfb3 {
    color: white;
}

.containerDefault_f6f816 .modeMuted_d8bfb3 .name_d8bfb3 {
    color: var(--interactive-muted);
}
.containerDefault_f6f816:hover .modeMuted_d8bfb3 .name_d8bfb3 {
    color: var(--white);
}

.modeUnreadImportant_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .name_d8bfb3 {
    color: var(--selected-channel-color);
    font-weight: var(--font-weight-semibold-1x-light-theme, 550);
}

.container_a5ad5c { /*cat vars*/
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px; /* 12 */
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
    flex: 1 1 auto;
    color: var(--cat-color);
}

.container_a5ad5c:hover { /*cat hover color*/
    color: var(--cat-color);
}

.wrapperCommon_a08117 { /* cat arrow color */
    color: var(--cat-color);
}

.icon_a08117 { /* remove cat arrow */
    display: none;
}

.containerDefault_f6f816 .modeSelected_d8bfb3 .icon_d8bfb3 { /*selected channel icon*/
    color: var(--selected-channel-color)
}

.containerDefault_f6f816 .modeUnreadImportant_d8bfb3 .icon_d8bfb3 { /*unread channel*/
    color: var(--selected-channel-color)
}

.containerDefault_f6f816 .modeSelected_d8bfb3 .name_d8bfb3 { /*selected channel text*/
    color: var(--selected-channel-color)
}

.containerDefault_f6f816 .modeSelected_d8bfb3 .wrapper_d8bfb3 {
    background-color: rgba(var(--rgb-highlight), 20%)
}

.reactionMe_ec6b19 .reactionCount_ec6b19 {
    color: var(--brand-200) !important;
}

.botText_a02df3,
.botTagVerified_a02df3 {
    color: 39, 72, 206;
}

.replying_d5deea:hover {
    background-color: rgba(var(--rgb-highlight), 60%) !important
}

.ephemeral_d5deea {
    background-color: rgba(var(--rgb-highlight), 30%)
}

.ephemeral_d5deea:hover {
    background-color: rgba(var(--rgb-highlight), 40%) !important
}

.mentioned_d5deea::before {
    background-color: var(--highlight)
}

.lookFilled_dd4f85.colorBrand_dd4f85 { /* forum new post button */
    background-color: var(--highlight);
    color: rgb();
}

.lookFilled_dd4f85.colorBrand_dd4f85:hover { /* forum new post button hover */
    background-color: rgb(178, 52, 255);
}

.pinIcon_f451cd { /* forum pin */
    background-color: var(--status-danger);
}

.reaction_ec6b19.reactionMe_ec6b19 { /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}
.reaction_f61c73.reactionMe_f61c73 { /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}

.mainCard_a6d69a { /*forum posts cards */
    background: var(--bg-mod-faint);
    border: 1px solid var(--highlight);
    border-radius: var(--radius-md);
}

.mainCard_a6d69a:hover { /*forum posts cards hover */
    border: 1px solid var(--selected-channel-color);
}

.wordmark_a934d8 { /* app title */
    color: var(--selected-channel-color);
    font-family: "Pirata One", system-ui;
}

.wordmark_a934d8 svg { /* app title */
    width: calc(55px*var(--show-original-title));
    height: calc(16px*var(--show-original-title))
}

.wordmark_a934d8::after { /* app title */
    content: var(--custom-title-text);
    font-size: calc(var(--custom-title-font-size)*var(--show-custom-title));
    font-weight: var(--custom-title-font-weight);
    margin-top: var(--custom-title-margin-top);
    margin-left: var(--custom-title-margin-left);
    display: block
}

.newMessagesBar_cf58b5 { /*new messages bar*/
    height: 32px;
    top: 0px;
    border-radius: 8px;
    background-color: var(--highlight);
    box-shadow: var(--elevation-low);
}

.subtitleContainer_a7d72e { /*channel header*/
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    background: transparent;

}
.title_a7d72e { /*channel header section*/
    position: relative;
    flex: 0 0 auto;
    z-index: 100;
    border-radius: 8px;
}

.vc-ranb-button { /* read all button */
    border: 1px solid var(--highlight);
    border-radius: 8px;
    background-color: var(--highlight);
    color: white;
    width: 80%;
    margin: 5% 10% 10% 10%;
    padding: 5% 2%;
    font-size: 10px;
}
.vc-ranb-button:hover { /* read all button */
    border: 1px solid var(--highlight);
    background-color: color-mix(in srgb,var(--highlight),#000 30%);
}

.panels_a4d4d9 {    /*personal info/status panel*/
    flex: 0 0 auto;
    background-color: var(--background-secondary);
    z-index: 2;
}
.theme-dark .container_b2ca13,.container_b2ca13 { /*personal info/status panel section*/
    height: 44px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 8px 1px;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-top: 3px;
    margin-bottom: 24px;
    background:  var(--darkPurple-background);
}
.container_adcaac {     /*VC panel*/
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    flex-shrink: 0;
    background: var(--darkPurple-background);
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-top: 3px;
    margin-bottom: 3px;
}
.activityPanel_a4d4d9 {   /*activitypanel*/
    border-bottom: 1px solid var(--background-modifier-accent);
    position: relative;
    z-index: 2;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-bottom: 3px;
}
.theme-dark .panel_bf1a22{  /*activitypanel bg*/
    background: var(--darkPurple-background);
}
#vc-spotify-player {     /*spotify controller*/
    padding: 0.375rem 0.5rem;
    --vc-spotify-green: #1db954;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-top: 3px;
    margin-bottom: 3px;
}
.theme-dark #vc-spotify-player {    /*spotify bg color*/
    background: var(--bg-overlay-1, var(--darkPurple-background));
}

.scroller_c43953::-webkit-scrollbar { /*channel list scrollbar hidden*/
  display: block;
}
.scroller_c43953::-webkit-scrollbar-thumb {
  background: rgba(43, 45, 49, 0);
}

.scroller_e2e187::-webkit-scrollbar { /*channel scrollbar hidden*/
  width: 12px;
}

 .info_c5a741:last-child::after {
    content: "Terminal 1.0.0";
    font-size: 12px;
    line-height: 16px;
    color: rgb(var(--rgb-highlight))
}

.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c { /* add friend button */
    background-color: var(--status-danger-background);
}

.picker_cd703d {    /*VC soundbar*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    position: fixed;
    bottom: 73px;
    left: 328px;
}
.pictureInPictureVideo_cadaa5 {   /*mediaplayer PiP*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}
.contentWrapper_f7506e, .modalRoot_e5da2b { /*VC activities*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}
.messagesPopoutWrap_ac90a2 { /*pinned messages tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
    background: rgba(24, 24, 24, 0.9);
}
.browser_f542fc, .container_e664f3 {  /*thread tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
}
.recentMentionsPopout_ddb5b4  {  /*notify tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
}
.menu_d90b3d {  /*every right-click context menu*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}
.submenu_d90b3d { /*every right-click context menu dropdown tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}

.containerDefault_a08117 {
    display: flex;
    align-items: center;
    justify-content: center
}

.theme-dark .subtitleContainer_a7d72e {
    background: transparent;
}

.containerDefault_a08117::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 0) 0%, rgba(var(--cat-color-rgba), 1) 100%)
}

.containerDefault_a08117::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 1) 0%, rgba(var(--cat-color-rgba), 0) 100%)
}

button:has([d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062"]){ /* sticker button */
  display: none;
}

.chatHeaderBar_e2f46e { /* thread header bar (ex. blocked thread) */
  border-radius: 8px;
  background-color: var(--interactive-muted);
  box-shadow: var(--elevation-low);
  border: 1px solid var(--highlight);
}
.narrow_e2f46e {  /* thread header bar padding (ex. blocked thread) */
  padding: 5px 16px;
}

.chatContent_a7d72e { /* forum chat content */
  border-radius: 0px 0px 0px 8px;
  background: var(--background-secondary);
}
.themed_fc4f04, .theme-dark .themed_fc4f04 {
    border-radius: 8px 8px 0px 0px;
    background: var(--background-secondary);
}
.container_cbd271 {
    border-radius: 0px 0px 8px 0px;
    background: var(--background-secondary);
}
.members_cbd271 {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

.circleIconButton_db6521 {
    color: var(--highlight);
}
.circleIconButton_db6521:hover {
    background-color: var(--highlight);
}
.botTagOP_a9e77f {  /* Post Author tag color */
    color: var(--white);
}

/* forum */
.chatLayerWrapper_d1c246 {
    border-radius: 8px;
    margin: 20px;
    height: 95.9%;
    background: transparent;
}
.resizeHandle_d1c246 {
    cursor: ew-resize;
    height: 100%;
    width: var(--chat-resize-handle-width);
    flex-shrink: 0;
    border-radius: 8px;
    margin: 0 5px;
    background: none;
}
.container_d1c246 {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}
#app-mount .wrapper_c51b4e rect[fill="#593695"],
#app-mount .wrapper_c51b4e rect[mask*=streaming] {
    fill: var(--streaming-color)
}

#app-mount .wrapper_c51b4e rect[fill="#43b581"],
#app-mount .wrapper_c51b4e rect[mask*=online] {
    fill: var(--online-color)
}

#app-mount .wrapper_c51b4e rect[fill="#faa61a"],
#app-mount .wrapper_c51b4e rect[mask*=idle] {
    fill: var(--afk-color)
}

#app-mount .wrapper_c51b4e rect[fill="#f04747"],
#app-mount .wrapper_c51b4e rect[mask*=dnd] {
    fill: var(--dnd-color)
}

.spine_e1e976 {
    color: rgb(121, 121, 121);
}
.spineBorder_e1e976 {
    background: rgb(121, 121, 121);
}
.containerDefault_f6f816:hover .spineBorder_e1e976 {
    background: var(--white);
}
.containerDefault_f6f816:hover .spine_e1e976 {
    color: var(--white);
}

.jumpToPresentBar_cf58b5 {
    bottom: 1px;
    right: calc(18px + var(--custom-channel-textarea-text-area-height) + var(--custom-channel-textarea-app-launcher-button-gap));
    border-radius: 8px;
    background-color: var(--darkPurple-background);
    border: 1px solid var(--channel-icon);
    opacity: .95;
    padding-bottom: 8px;
}

#popout_5211 {  /* channel search input */
    border-radius: 8px;
    border: 1px solid var(--highlight);
}
.container_eedf95 { /* channel search input */
    border-radius: 8px;
}
.autocomplete_bcc24e {
    border-radius: 8px;
    border: 1px solid var(--highlight);
    background-color: var(--darkPurple-background);
}
.wrapper_efd8e6, .wrapper_ba23fe {
    background: var(--darkPurple-background);
}
.categoryHeader_fe2299 {
    background-color: 0;
    border-radius: 8px;
}
.clickable_bcc24e[aria-disabled=false]>.base_bcc24e:hover {
    border-radius: 8px;
}

.categoryHeader_fe2299 {
    position: sticky;
    top: 0;
    padding: 0 8px;
    background-color: none;
}

.container_ac201b {
    background-color: rgb(24, 24, 24);
}

.content_c2654d {
    color: var(--text-muted);
    background: var(--bg-overlay-chat, var(--darkPurple-background));
}

.divider_c2654d {
    border-top: thin solid var(--custom-channel-icon);
}

.popout_f6639d {
    background: rgb(26, 26, 26);
}

.footer_f8ec41, .footer_d71945 {
    background: none;
}


.container_a57509.isOpen_a57509 {
    border: 1px solid var(--channel-icon);
}

.container_f24a96 { /* poll creation */
    border: 1px solid var(--highlight);
    background-color: var(--background-mentioned);
}

.container_a1531c  { /* polls */
    border: 1px solid var(--highlight);
    background-color: var(--background-mentioned);
}
.checkboxSelected_b97e9a {  /* polls checkmarks */
    background-color: var(--highlight);
}
.votePercentageBar_cf2c85 { /* polls */
   background-color: var(--background-mentioned-hover); 
}
.answerSelectionIcon_cf2c85 path[fill-rule=evenodd] { /* polls checkmarks */
    fill: var(--highlight);
}
.victorStyles_b5cb3c { /* polls */
    --custom-poll-style-border: var(--highlight);
}

.vc-addon-card { /* vencord plugins style */
    background: var(--background-modifier-accent);
}

.vc-addon-card:hover { /* vencord plugins style */
    background: var(--background-modifier-hover);
}

.guildSidebar_a7d72e { /* moderator view */
    border-radius: 10px;
    margin: 20px;
    box-shadow: var(--box-shadow);
}

.innerContainer_d2194f { /* moderator view */
    border-radius: 10%;
}

/*.outer_c69a7b { /* moderator view *
    --profile-gradient-primary-color: rgba(255, 255, 255, 0) !important;
    --profile-gradient-secondary-color: rgba(255, 255, 255, 0) !important;
    --profile-gradient-overlay-color: rgba(255, 255, 255, 0) !important;
}*/

.toast_f42767 { /* vencord updater notification style */
    border: 2px solid var(--online-color);
    border-radius: 10px;
    background-color: rgba(105, 15, 133, 90%);
}

.input_f8bc55 { /* settings inputs bg color */
    background-color: rgba(35, 35, 35, 0.596);
}

.checked_cebd1c path {  /* settings check slider */
    fill: var(--online-color) !important;
}

.checked_cebd1c {   /* settings check slider */
    background-color: var(--online-color) !important;
}

.vc-notification-root { /* vencord update notification */
    border: 1px solid var(--selected-channel-color);
    background: rgba(105, 15, 133, 0.9);
}

.focusLock_f9a4c9 { /* vencord plugin settings/info */
    background: rgba(255, 255, 255, 0);
}

.footer_f9a4c9 {    /* vencord plugin settings/info */
    border-radius: 10px;
}

.large_f9a4c9, .medium_f9a4c9, .small_f9a4c9 {  /* modal theme */
    background: rgba(105, 15, 133, 0.8);
    border-radius: 10px;
    border: 1px solid var(--selected-channel-color);
}
.footer_f24a96, .footer_f9a4c9 { /* modal footer color */
    background-color: rgba(35, 35, 35, 0.75);
}

.defaultTextInputWrapper_d274ca {   /* poll creation responses input area */
    background-color: rgba(35, 35, 35, 0.596);
}
.defaultTextInputWrapper_d274ca input {   /* poll creation responses input area */
    background-color: transparent;
}
.addAnswerButton_f24a96 {   /* poll creation add response bg */
    background-color: rgba(35, 35, 35, 0.596);
}
.addAnswerButton_f24a96:hover {   /* poll creation add response bg (hover) */
    background-color: rgba(35, 35, 35, 0.9);
}

.voiceChannelsButton_a08117 {   /* show more voice channels button */
    border: 1px solid var(--custom-channel-icon);
}
.voiceChannelsButton_a08117:hover {   /* show more voice channels button */
    border: 1px solid var(--highlight);
    background: var(--background-secondary);
}