/*
 *name          Lande della Discordia
 *author        @ungiglio
 *internalcode  AWKGLASS
 *version       #20250331
*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');   /* credits to mwittrien for the original code */
@import url("https://ungiglio.github.io/DiscordDiscordia/awkglass_code/colored_userlist/userlist.css");

:root,
.theme-dark,
.theme-light {

    --file-ver: "#20250331";

    /*Background*/
    --background-image: var(--custom-image-url);
    --app-blur: 8px;
    --button-background: linear-gradient(60deg, var(--highlight), var(--highlight-darker));
    --button-background-static: var(--highlight);
    --background-primary: rgba(24, 24, 24, 0.26) !important;
    --background-secondary: rgba(26, 26, 26, 0.500) !important;
    --background-tertiary: rgba(26, 26, 26, 0.815) !important;
    --background-modifier-hover: rgba(20, 20, 20, 0.500);
    --box-shadow: 0 0 10px 0px black;

    --custom-logo: url('https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordia.png');
    --custom-logo-hover: url('https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/LandeDiscordiaHover.png');

    /*other*/
    --highlight: rgb(var(--rgb-highlight));
    --highlight-darker: hsl(from var(--highlight) calc(h + 15) s calc(l - 35));
    /*color-mix(in srgb,var(--highlight),#000 50%);*/
    --text: var(--text-muted) !important;
    --online-color: rgb(var(--rgb-online-color)) !important;
    --afk-color: rgb(var(--rgb-afk-color)) !important;
    --dnd-color: rgb(var(--rgb-dnd-color)) !important;
    --streaming-color: rgb(var(--rgb-streaming-color)) !important;
    --scrollbar-thin-thumb: var(--highlight) !important;
    --scrollbar-auto-thumb: var(--highlight) !important;
    --scrollbar-auto-scrollbar-color-thumb: var(--highlight) !important;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --transition-time: 0.3s;
    --show-original-title: 0;
    --show-custom-title: 1;
    --custom-title-text: "Lande della Discordia";
    --custom-title-font-size: 16px;
    --custom-title-font-weight: normal;
    --custom-title-margin-top: 0px;
    --custom-title-margin-left: 0px;

    --logo-primary: var(--highlight) !important;
    --control-brand-foreground: var(--highlight) !important;
    --control-brand-foreground-new: var(--highlight) !important;
    --background-mentioned: rgba(var(--rgb-highlight), 14%) !important;
    --background-mentioned-hover: rgba(var(--rgb-highlight), 20%);
    --background-message-hover: color-mix(in oklab, hsl(var(--primary-900-hsl) / 0.06) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.06) var(--theme-base-color-amount, 0%)) !important;
    --background-message-highlight: rgba(var(--rgb-highlight), 30%) !important;
    --background-message-highlight-hover: rgba(var(--rgb-highlight), 40%) !important;
    --background-message-automod: rgba(var(--rgb-highlight), 20%) !important;
    --background-message-automod-hover: rgba(var(--rgb-highlight), 40%) !important;
    --channeltextarea-background: color-mix(in oklab, var(--primary-560) 100%, var(--theme-base-color, black) var(--theme-base-color-amount, 0%)) !important;
    --text-link: var(--highlight) !important;
    --text-link-low-saturation: rgba(var(--rgb-highlight), 50%) !important;
    --text-positive: var(--online-color) !important;
    --text-warning: var(--afk-color) !important;
    --text-danger: var(--dnd-color) !important;
    --text-brand: var(--highlight) !important;
    --channels-default: var(--text) !important;
    --interactive-muted: rgba(180, 180, 180, 0.493) !important;
    --button-danger-background-disabled: rgba(var(--rgb-close-button), 20%) !important;
    --button-danger-background: rgba(var(--rgb-close-button), 100%) !important;
    --button-danger-background-hover: rgba(var(--rgb-close-button), 70%) !important;
    --button-danger-background-active: rgba(var(--rgb-close-button), 100%) !important;
    --button-outline-danger-border: rgba(var(--rgb-close-button), 100%) !important;
    --button-outline-danger-background: rgba(var(--rgb-close-button), 50%) !important;
    --button-outline-danger-background-hover: rgba(var(--rgb-close-button), 100%) !important;
    --button-outline-danger-background-active: rgba(var(--rgb-close-button), 100%) !important;
    --button-outline-danger-text: rgb(255, 255, 255) !important;
    --button-outline-danger-text-hover: rgb(255, 255, 255) !important;
    --button-outline-danger-text-active: rgba(var(--rgb-close-button), 100%) !important;
    --button-outline-danger-border-hover: rgba(var(--rgb-close-button), 70%) !important;
    --button-outline-danger-border-active: rgba(var(--rgb-close-button), 100%) !important;
    --button-positive-background-disabled: rgba(var(--rgb-online-color), 20%) !important;
    --button-positive-background: rgba(var(--rgb-online-color), 20%) !important;
    --button-positive-background-hover: rgba(var(--rgb-online-color), 70%) !important;
    --button-positive-background-active: rgba(var(--rgb-online-color), 100%) !important;
    --button-outline-positive-border: rgba(var(--rgb-online-color), 50%) !important;
    --button-outline-positive-background: rgba(var(--rgb-online-color), 50%) !important;
    --button-outline-positive-background-hover: rgba(var(--rgb-online-color), 70%) !important;
    --button-outline-positive-background-active: rgba(var(--rgb-online-color), 100%) !important;
    --button-outline-positive-text: rgba(var(--rgb-online-color), 50%) !important;
    --button-outline-positive-text-hover: rgba(var(--rgb-online-color), 70%) !important;
    --button-outline-positive-text-active: rgba(var(--rgb-online-color), 100%) !important;
    --button-outline-positive-border-hover: rgba(var(--rgb-online-color), 70%) !important;
    --button-outline-positive-border-active: rgba(var(--rgb-online-color), 100%) !important;
    --button-primary-background-disabled: rgba(var(--rgb-highlight), 20%) !important;
    --button-primary-background: rgba(var(--rgb-highlight), 20%) !important;
    --button-primary-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-primary-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-primary-border: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-primary-background: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-primary-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-primary-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-primary-text: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-primary-text-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-primary-text-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-primary-border-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-primary-border-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-secondary-background-disabled: rgba(var(--rgb-highlight), 20%) !important;
    --button-secondary-background: rgba(var(--rgb-highlight), 20%) !important;
    --button-secondary-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-secondary-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-secondary-border: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-secondary-background: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-secondary-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-secondary-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-secondary-text: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-secondary-text-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-secondary-text-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-secondary-border-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-secondary-border-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-brand-background-disabled: rgba(var(--rgb-highlight), 20%) !important;
    --button-brand-background: rgba(var(--rgb-highlight), 20%) !important;
    --button-brand-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-brand-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-brand-border: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-brand-background: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-brand-background-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-brand-background-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-brand-text: rgba(var(--rgb-highlight), 50%) !important;
    --button-outline-brand-text-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-brand-text-active: rgba(var(--rgb-highlight), 100%) !important;
    --button-outline-brand-border-hover: rgba(var(--rgb-highlight), 70%) !important;
    --button-outline-brand-border-active: rgba(var(--rgb-highlight), 100%) !important;
    --search-popout-option-user-nickname: var(--highlight) !important;
    --search-popout-option-user-username: rgba(var(--rgb-highlight), 70%) !important;
    --search-popout-option-filter-text: rgba(var(--rgb-highlight), 70%) !important;
    --search-popout-date-picker-border: 1px solid var(--highlight) !important;
    --status-danger-background: var(--status-danger) !important;
    --channel-header-color: var(--custom-channel-header-color) !important;
    --channel-icon: var(--custom-channel-icon) !important;
    --selected-channel-color: var(--custom-selected-channel-color) !important;
    --cat-color: var(--cat-custom-color) !important;
    --cat-color-rgba: var(--cat-custom-color-rgba) !important;
    --status-danger: var(--status-danger-rgb) !important;
    --status-warning: var(--afk-color) !important;
    --status-positive: var(--online-color) !important;
    --profile-gradient-primary-color: var(--rgb-background) !important;
    --profile-gradient-secondary-color: var(--rgb-background) !important;
    --menu-item-default-active-bg: var(--highlight) !important;
    --menu-item-default-hover-bg: var(--highlight) !important;
    --background-channel-selected: rgba(var(--rgb-highlight), 10%) !important;
    --app-border-frame: color-mix(in oklab,hsl(var(--opacity-24-hsl)/0.23921568627450981) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.23921568627450981) var(--theme-base-color-amount,0%)) !important;

    --bg-brand: var(--highlight) !important;
    --button-filled-brand-background: var(--highlight) !important;
    --bg-base-tertiary: var(--background-secondary) !important;
    --bg-base-secondary: var(--background-tertiary) !important;
    --card-primary-bg: var(--background-primary) !important;
    --background-base-lower: var(--background-tertiary) !important;
    --background-floating: black !important;
    --background-surface-higher: black !important;
    --background-base-low: var(--background-secondary) !important;
    --background-secondary-alt: var(--background-secondary) !important;
    --checkbox-border-checked: var(--online-color) !important;
    --checkbox-background-checked: var(--online-color) !important;
    --background-surface-high: var(--background-tertiary) !important;
    --text-feedback-positive: var(--online-color) !important;
    /*--text-feedback-critical: var(--text-danger) !important;*/

    --ver: "lande discordia ("var(--current-ver)") "var(--file-ver);
}

.info__2debe::before {
    /* settings theme version */
    content: var(--ver);
    color: var(--text-muted);
    font-size: 12px;
}

.visual-refresh .bg__960e4 {
    background: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link__972a0:hover,
.interactive__972a0:hover {
    background: var(--button-background);
    border-radius: 3px;
    color: rgb(233, 233, 233);
}

#app-mount .guilds_c48ade [class*=pill] span[style*="height: 40"] {
    background-color: var(--selected-channel-color);
}

.content_c48ade {
    background-color: transparent;
}

.footer__214dc {
    background-color: transparent !important;
}

.side_b3f026 .item_b3f026:hover,
.containerDefault_c69b6d:hover .link__2ea32:hover {
    border-radius: 3px;
    background: var(--button-background);
    color: white;
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: var(--background-message-highlight-hover);
}

.wrapper__2ea32:hover .link__2ea32 {
    background: none;
}

.visual-refresh .sidebarList_c48ade {
    border-radius: 10px;
    margin-left: 10px;
}

.mentioned__5126c:before {
    box-shadow: 4px 0px 6px 1px var(--button-background);
    background: var(--button-background);
}

.winButton_c38106 {
    background: #00000083;
    color: #fff;
    width: 35px;
    height: 30px;
}

.recentsIcon_c99c29 div, .trailing_c38106 a div {
    background: #00000083;
    width: 35px !important;
    height: 30px !important;
    border-radius: 10px;
}

.recentsIcon_c99c29 div:hover, .trailing_c38106 a div:hover {
    background: var(--online-color);
}

.trailing_c38106 a div svg, .recentsIcon_c99c29 div svg {
    width: 15px !important;
    height: 15px !important;
    color: #fff !important;
}

.winButtons_c38106 {
    gap: 0;
}

.winButtonMinMax_c38106:hover {
    background: var(--online-color);
}

.winButtonMinMax_c38106[aria-label*="Riduci"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.winButtonClose_c38106 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}

.winButtonsWithDivider_c38106:before {
    display: none;
}

.platform-win .sidebar_c48ade,
.container__133bf,
.chat_f75fb0 {
    border-radius: 10px;
    margin: 0 20px;
}

.visual-refresh .container__7641b {
    background-color: var(--background-primary);
}

.visual-refresh .container__34c2c, .visual-refresh .header__34c2c {
    background: var(--background-secondary);
    border-radius: 10px;
    margin-left: 10px;
}

.divider_ee23ac {
    height: 0;
}

.content_c48ade {
    margin-bottom: 20px;
}

.visual-refresh .chat_f75fb0 {
    background: var(--background-primary);
}

.guilds_c48ade {
    border-radius: 10px;
    margin: 6px;
    margin-left: 0px;
}

.visual-refresh .title__85643 {
    background: #00000083;
    border-radius: 10px;
    padding: 5px;
}

.wordmarkWindows__421ed {
    display: none;
}

.visual-refresh .childWrapperNoHoverBg__6e9f8 {
    background: var(--background-primary);
}
.visual-refresh .childWrapperNoHoverBg__6e9f8>svg {
    display: none;
}

#app-mount .sidebar_c48ade {
    border-radius: 10px;
}

.visual-refresh .stackedBars__74017, .visual-refresh .sidebar_c48ade:after {
    background: none;
}

.visual-refresh .wrapper_d5f3cd {
    background-color: var(--darkPurple-background);
}

.visual-refresh .scroller__99e7c {
    background: none;
}

.lookFilled__201d5.colorBrand__201d5,
.lookFilled__201d5.colorPrimary__201d5,
.botTagRegular__82f07,
.unread__6fddf {
    background: var(--button-background-static);
}

.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32 {
    color: white;
}

.layers__160d8 {
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    border-radius: var(--app-radius);
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(var(--app-blur));
}

.chatTarget__01ae2:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: var(--popout-color);
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
}

#channelTabs-container {
    margin: calc(var(--app-margin) / 2) var(--app-margin) calc(var(--app-margin) / 4 * -1);
    padding: 4px !important;
    background-color: var(--sidebar-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
}

.directoryContainer_da3f59 {
    height: calc(100% - var(--app-margin) * 1.5);
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
}

.titleContainer_e29cd7:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
}

.header_c6bf1b:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
}

.wrapper__4d7bb .card__4d7bb {
    background-color: var(--card-color-select);
    border-radius: var(--card-radius);
    backdrop-filter: blur(var(--app-blur));
}

.winButton__421ed {
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.lookFilled__3f413.select__3f413 {
    border: solid transparent;
}

.visual-refresh .theme-dark .container__37e49,
.visual-refresh .theme-dark .panel__5dec7,
.visual-refresh .container_fea832,
.visual-refresh .searchBar__35e86,
.visual-refresh .lookFilled__3f413.select__3f413,
.visual-refresh .connectionHeader_c7f964,
.visual-refresh .container_f369db,
.visual-refresh .connectContainer_c7f964,
.visual-refresh .container__133bf,
.visual-refresh .theme-dark .scroller__99e7c,
.visual-refresh .wrapper_cb9592.minimum_cb9592 {
    background-color: var(--background-secondary);
}

.visual-refresh .sidebarRegionScroller__23e6b,
.visual-refresh .contentRegionScroller__23e6b,
.visual-refresh .searchBar__5ec2f,
.visual-refresh .searchHeader_f3b986,
.visual-refresh .searchResultsWrap_a9e706,
.visual-refresh .privateChannels__35e86,
.visual-refresh .nowPlayingColumn__133bf,
.visual-refresh .container__7d20c,
.visual-refresh .container_c8ffbb,
.visual-refresh .chatContent_f75fb0,
.visual-refresh .wrapper_ef3116 {
    background-color: var(--background-primary);
}

.visual-refresh .wrapper_ef3116 {
    border-radius: 10px;
    margin-top: 0;
}

.theme-dark .sidebarContainer_a3a4ce {
    background-color: var(--background-secondary);
}

.form_f75fb0:before,
.themedBackground__74017,
.searchResult__02a39,
.popoverReactionHoverBar_f84418 {
    background: transparent;
}

.avatarWithText__972a0 & .content__20a53 {
    color: transparent;
}

.avatar__20a53:hover>svg,
.icon__2ea32:hover,
.closeIcon__972a0:hover {
    animation: icon1 2.5s ease-in;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes icon1 {
    100% {
        transform: rotate(360deg);
    }
}

.container_a2f514 {
    background: rgba(0, 0, 0, 0.692);
}

.button_e6e74f {
    background-color: var(--background-secondary);
}

.numberBadge__40d6f {
    background-color: rgba(var(--rgb-highlight), 70%) !important;
    color: var(--background)
}

.isUnread__908e2 {
    border: 1px solid var(--highlight)
}

.content__908e2 {
    color: var(--highlight) !important
}

.unread__2ea32,
.wrapper__2ea32:hover .unread__2ea32 {
    background-color: var(--selected-channel-color)
}

.visual-refresh .popoverReactionHoverBar_f84418 {
    /* message:hover popup */
    background: var(--darkPurple-background);
}

.visual-refresh .popoverReactionHoverBar_f84418:hover {
    /* message:hover popup */
    border: 1px solid var(--custom-channel-icon);
}

button.button__67645.redGlow__67645,
span.button__67645.redGlow__67645 {
    background: none;
}

.visual-refresh button.button__67645.enabled__67645.redGlow__67645:hover,
.visual-refresh span.button__67645.enabled__67645.redGlow__67645:hover {
    background-color: var(--button-secondary-background-hover);
}

.buttonContainer__74017:has(button[aria-label*="Apri selettore di adesivi"]) {
    display: none;
}

.visual-refresh .standardSidebarView__23e6b {
    background: var(--background-primary);
}

.visual-refresh .tabBody__133bf, .sidebarScrollable__53543 .scroller__53543, .visual-refresh .standardSidebarView__23e6b, .visual-refresh .contentRegionScroller__23e6b {
    background: none;
}

.visual-refresh .container_d8f25b {
    background-color: var(--background-primary);
    color: white;
}

.visual-refresh .container_d8f25b:hover {
    background-color: var(--background-primary);
    color: #d8d5d5;
}

.wrapper_f61d60 {
    /* slash cmds */
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    color: rgb(178, 202, 255);
    background: var(--mention-background);
}

.replyBar__841c8 {
    /*reply box over textarea */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.clipContainer__841c8 {
    /*reply box over textarea */
    overflow: hidden;
    padding-top: 0;
    margin-top: -3px;
    background-color: rgba(0, 0, 0, 0);
}

.visual-refresh .container__551b0 {
    background: var(--background-secondary);
}

.guildSeparator-33mFX6 {
    border-radius: 2px
}

.unreadPillCapStroke__908e2 {
    color: var(--highlight);
    fill: var(--highlight)
}

.unreadPill__908e2 {
    background-color: var(--highlight);
    color: var(--background) !important
}

.visual-refresh .channelTextArea__74017, .visual-refresh .channelTextArea__74017:focus-within {
    /* textbar area */
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
    margin-bottom: 25px;
}

.themedBackground__74017 {
    background: var(--bg-overlay-3, var(--darkPurple-background));
}

.visual-refresh .bar__7aaec {   /* unread pill */
background: var(--darkPurple-background);
}

.themedBackground__74017,
.custom-profile-theme .inner_a99829 {
    background: var(--bg-overlay-3, var(--darkPurple-background));
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.container_c48ade {
    --custom-chat-input-margin-bottom: 8px !important;
}

.theme-dark .children__9293f:after,
.form_f75fb0::before,
.option__56fec:after {
    display: none
}

.childWrapper__6e9f8 {
    /* discord logo color */
    color: var(--highlight);
}

.vc-ranb-button {
    color: rgb(78, 209, 203);
}

.containerDefault_c69b6d .name__2ea32 {
    /* channel color */
    color: var(--channel-icon);
}

.containerDefault_c69b6d:hover .name__2ea32 {
    /* channel color */
    color: white;
}

.containerDefault_c69b6d:hover .icon__2ea32 {
    color: white;
}

.containerDefault_c69b6d .modeMuted__2ea32 .name__2ea32 {
    color: var(--interactive-muted);
}

.containerDefault_c69b6d:hover .modeMuted__2ea32 .name__2ea32 {
    color: var(--white);
}

.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32 {
    color: var(--selected-channel-color);
    font-weight: var(--font-weight-semibold-1x-light-theme, 550);
}

.container__13cf1 {
    /*cat vars*/
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
    /* 12 */
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
    flex: 1 1 auto;
    color: var(--cat-color);
}

.container__13cf1:hover {
    /*cat hover color*/
    color: var(--cat-color);
}

.wrapperCommon__29444 {
    /* cat arrow color */
    color: var(--cat-color);
}

.icon__29444 {
    /* remove cat arrow */
    display: none;
}

.containerDefault_c69b6d .modeSelected__2ea32 .icon__2ea32 {
    /*selected channel icon*/
    color: var(--selected-channel-color)
}

.containerDefault_c69b6d .modeUnreadImportant__2ea32 .icon__2ea32 {
    /*unread channel*/
    color: var(--selected-channel-color)
}

.containerDefault_c69b6d .modeSelected__2ea32 .name__2ea32 {
    /*selected channel text*/
    color: var(--selected-channel-color)
}

.containerDefault_c69b6d .modeSelected__2ea32 .wrapper__2ea32 {
    background-color: rgba(var(--rgb-highlight), 20%)
}

.reactionMe__23977 .reactionCount__23977 {
    color: var(--brand-200) !important;
}

.botText__82f07,
.botTagVerified__82f07 {
    color: 39, 72, 206;
}

.replying__5126c:hover {
    background-color: rgba(var(--rgb-highlight), 60%) !important;
}

.ephemeral__5126c {
    background-color: rgba(var(--rgb-highlight), 30%);
}

.ephemeral__5126c:hover {
    background-color: rgba(var(--rgb-highlight), 20%) !important;
}

.ephemeral__5126c::before {
    background-color: var(--highlight) !important;
}

.mentioned__5126c::before {
    background-color: var(--highlight);
}

.lookFilled__201d5.colorBrand__201d5 {
    /* forum new post button */
    background-color: var(--highlight);
    color: rgb();
}

.lookFilled__201d5.colorBrand__201d5:hover {
    /* forum new post button hover */
    background-color: rgb(178, 52, 255);
}

.pinIcon__08166 {
    /* forum pin */
    background-color: var(--status-danger);
}

.visual-refresh .reaction__23977.reactionMe__23977 {
    /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}

.visual-refresh .reaction_f8896c.reactionMe_f8896c {
    /* forum reaction color */
    background-color: rgba(178, 102, 255, 0.3);
    border-color: var(--highlight);
}

.mainCard_f369db {
    /*forum posts cards */
    background: var(--bg-mod-faint);
    border: 1px solid var(--highlight);
    border-radius: var(--radius-md);
}

.mainCard_f369db:hover {
    /*forum posts cards hover */
    border: 1px solid var(--selected-channel-color) !important;
    background: var(--bg-mod-faint) !important;
}

.wordmark__421ed {
    /* app title */
    color: var(--selected-channel-color);
    font-family: "Pirata One", system-ui;
}

.wordmark__421ed svg {
    /* app title */
    width: calc(55px*var(--show-original-title));
    height: calc(16px*var(--show-original-title))
}

.wordmark__421ed::after {
    /* app title */
    content: var(--custom-title-text);
    font-size: calc(var(--custom-title-font-size)*var(--show-custom-title));
    font-weight: var(--custom-title-font-weight);
    margin-top: var(--custom-title-margin-top);
    margin-left: var(--custom-title-margin-left);
    display: block
}

.newMessagesBar__0f481 {
    /*new messages bar*/
    height: 32px;
    top: 0px;
    border-radius: 8px;
    background-color: var(--highlight);
    box-shadow: var(--elevation-low);
}

.subtitleContainer_f75fb0 {
    /*channel header*/
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    background: transparent;

}

.title_f75fb0 {
    /*channel header section*/
    position: relative;
    flex: 0 0 auto;
    z-index: 100;
    border-radius: 8px;
}

.vc-ranb-button {
    /* read all button */
    border: 1px solid var(--highlight);
    border-radius: 8px;
    background-color: var(--highlight);
    color: white;
    width: 80%;
    margin: 5% 10% 10% 10%;
    padding: 5% 2%;
    font-size: 10px;
}

.vc-ranb-button:hover {
    /* read all button */
    border: 1px solid var(--highlight);
    background-color: color-mix(in srgb, var(--highlight), #000 30%);
}

.visual-refresh .panels_c48ade {
    /*personal info/status panel*/
    flex: 0 0 auto;
    background: none;
    z-index: 2;
    border: none;
}

.lottieIcon__5eb9b {
    /* personal info/status panel icons color */
    --channel-icon: #B5BAC1;
}

.visual-refresh .theme-dark .container__37e49,
.visual-refresh .container__37e49 {
    /*personal info/status panel section*/
    height: 59px;   /*73px;44px;*/
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 8px 0;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
    margin-bottom: 16px;
}

.visual-refresh .container_e131a9 {
    /*VC panel*/
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    flex-shrink: 0;
    background: var(--darkPurple-background);
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin: 3px 0 3px 0;
}

.visual-refresh .activityPanel_c48ade {
    /*activitypanel*/
    border-bottom: 1px solid var(--background-modifier-accent);
    position: relative;
    z-index: 2;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-bottom: 3px;
}

.theme-dark .panel__5dec7 {
    /*activitypanel bg*/
    background: var(--darkPurple-background);
}

#vc-spotify-player {
    /*spotify controller*/
    padding: 0.375rem 0.5rem;
    --vc-spotify-green: var(--highlight);
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-top: 3px;
    margin-bottom: 3px;
}

.theme-dark #vc-spotify-player {
    /*spotify bg color*/
    background: var(--bg-overlay-1, var(--darkPurple-background));
}

.disabledStrokeThrough {
    fill: var(--status-danger);
}

.auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar {
    width: 5px;
    }
    .auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar-thumb {
      background: var(--darkPurple-background);
    }
    .auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar-thumb:hover {
      background: var(--highlight);
    }

.scroller__629e4::-webkit-scrollbar {
    /*channel list scrollbar hidden*/
    display: block;
}

.scroller__629e4::-webkit-scrollbar-thumb {
    background: rgba(43, 45, 49, 0);
}

.scroller__36d07::-webkit-scrollbar {
    /*channel scrollbar hidden*/
    width: 12px;
}

.info__2debe:last-child::after {
    content: "Terminal 1.0.0";
    font-size: 12px;
    line-height: 16px;
    color: rgb(var(--rgb-highlight))
}

.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf {
    /* add friend button */
    background-color: var(--status-danger-background);
}

.picker__09f65 {
    /*VC soundbar*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    position: fixed;
    bottom: 73px;
    left: 328px;
}

.pictureInPictureVideo_e4cb9a {
    /*mediaplayer PiP*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}

.contentWrapper__9c62c,
.modalRoot__19236 {
    /*VC activities*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}

.messagesPopoutWrap__45690 {
    /*pinned messages tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
    background: rgba(24, 24, 24, 0.9);
}

.browser_d98031,
.container_d9c882 {
    /*thread tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
}

.recentMentionsPopout__95796 {
    /*notify tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
    top: 8px;
}

.menu_c1e9c4 {
    /*every right-click context menu*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}

.submenu_c1e9c4 {
    /*every right-click context menu dropdown tab*/
    border: solid 1px var(--highlight);
    border-radius: 8px;
}

.colorDefault_c1e9c4:hover {
    /*every right-click context menu hover*/
    background-color: var(--highlight);
}

.containerDefault__29444 {
    display: flex;
    align-items: center;
    justify-content: center
}

.theme-dark .subtitleContainer_f75fb0 {
    background: transparent;
}

.containerDefault__29444::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 0) 0%, rgba(var(--cat-color-rgba), 1) 100%)
}

.containerDefault__29444::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 1) 0%, rgba(var(--cat-color-rgba), 0) 100%)
}

button:has([d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062"]) {
    /* sticker button */
    display: none;
}

button:has([d=" M7,-6 C7,-7.6570000648498535 5.6570000648498535,-9 4,-9 C4,-9 3.9110000133514404,-9 3.9110000133514404,-9 C2.49399995803833,-9 1.2589999437332153,-8.03600025177002 0.9150000214576721,-6.660999774932861 C0.9150000214576721,-6.660999774932861 0,-3 0,-3 C0,-3 4,-3 4,-3 C5.6570000648498535,-3 7,-4.3429999351501465 7,-6 C7,-6 7,-6 7,-6z"]) {
    /* gift button */
    display: none;
}

.chatHeaderBar_a5700d {
    /* thread header bar (ex. blocked thread) */
    border-radius: 8px;
    background-color: var(--interactive-muted);
    box-shadow: var(--elevation-low);
    border: 1px solid var(--highlight);
}

.narrow_a5700d {
    /* thread header bar padding (ex. blocked thread) */
    padding: 5px 16px;
}

.chatContent_f75fb0 {
    /* forum chat content */
    border-radius: 0px 0px 0px 8px;
    background: var(--background-secondary);
}

.themed__9293f,
.theme-dark .themed__9293f {
    border-radius: 8px 8px 0px 0px;
    background: var(--background-secondary);
}

.container_c8ffbb {
    border-radius: 0px 0px 8px 0px;
    background: var(--background-secondary);
}

.members_c8ffbb {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

.circleIconButton__5bc7e {
    color: var(--highlight);
}

.circleIconButton__5bc7e:hover {
    background-color: var(--highlight);
}

.botTagOP__82f07 {
    /* Post Author tag color */
    color: var(--white);
}

/* forum */
.chatLayerWrapper__01ae2 {
    border-radius: 8px;
    margin-right: 20px;
    background: transparent;
}

.chat_f75fb0.threadSidebarOpen_f75fb0 {
    border-radius: 8px;
}

.visual-refresh .resizeHandle__01ae2 {
    cursor: ew-resize;
    height: 100%;
    width: var(--chat-resize-handle-width);
    flex-shrink: 0;
    border-radius: 8px;
    margin: 0 5px;
    background: none;
}

.visual-refresh .container__01ae2 {
    border-radius: 8px;
    background: var(--background-secondary);
}

.lookOutlined__201d5.colorGreen__201d5 {
    color: var(--online-color);
    border-color: var(--online-color);
}
.lookFilled__201d5.colorGreen__201d5 {
    color: var(--white);
    background-color: var(--online-color);
}

#app-mount .wrapper__44b0c rect[fill="#593695"],
#app-mount .wrapper__44b0c rect[mask*=streaming] {
    fill: var(--streaming-color)
}

#app-mount .wrapper__44b0c rect[fill="#43b581"],
#app-mount .wrapper__44b0c rect[mask*=online] {
    fill: var(--online-color)
}

#app-mount .wrapper__44b0c rect[fill="#faa61a"],
#app-mount .wrapper__44b0c rect[mask*=idle] {
    fill: var(--afk-color)
}

#app-mount .wrapper__44b0c rect[fill="#f04747"],
#app-mount .wrapper__44b0c rect[mask*=dnd] {
    fill: var(--dnd-color)
}

.spine__5b40b {
    color: rgb(121, 121, 121);
}

.spineBorder__5b40b {
    background: rgb(121, 121, 121);
}

.containerDefault_c69b6d:hover .spineBorder__5b40b {
    background: var(--white);
}

.visual-refresh .jumpToPresentBar__0f481 {
    background-color: var(--darkPurple-background);
    border: 1px solid var(--channel-icon);
}

#popout_5211 {
    /* channel search input */
    border-radius: 8px;
    border: 1px solid var(--highlight);
}

.container__55c99 {
    /* channel search input */
    border-radius: 8px;
}

.autocomplete__13533 {
    border-radius: 8px;
    border: 1px solid var(--highlight);
    background-color: var(--darkPurple-background);
}

.wrapper_b1e4f3,
.wrapper__4e6ce {
    background: var(--darkPurple-background);
}

.categoryHeader_d1405b {
    background-color: 0;
    border-radius: 8px;
}

.clickable__13533[aria-disabled=false]>.base__13533:hover {
    border-radius: 8px;
}

.categoryHeader_d1405b {
    position: sticky;
    top: 0;
    padding: 0 8px;
    background-color: none;
}

.container__3dde2 {
    background-color: rgb(24, 24, 24);
}

.content__908e2 {
    color: var(--text-muted);
    background: var(--bg-overlay-chat, var(--darkPurple-background));
}

.divider__908e2 {
    border-top: thin solid var(--custom-channel-icon);
}

.popout__3f413 {
    background: rgb(26, 26, 26);
}

.footer__214dc {
    background: none;
}


.container__9a337.isOpen__9a337 {
    border: 1px solid var(--channel-icon);
}

.container_d97f89 {
    /* poll creation */
    border: 1px solid var(--highlight);
    background-color: var(--background-mentioned);
}

.container__0be77 {
    /* polls */
    border: 1px solid var(--highlight);
    background-color: var(--background-mentioned);
}

.checkboxSelected_f4f0eb {
    /* polls checkmarks */
    background-color: var(--highlight);
}

.votePercentageBar__4c520 {
    /* polls */
    background-color: var(--background-mentioned-hover);
}

.answerSelectionIcon__4c520 path[fill-rule=evenodd] {
    /* polls checkmarks */
    fill: var(--highlight);
}

.victorStyles_a1443c {
    /* polls */
    --custom-poll-style-border: var(--highlight);
}

.bd-switch input:checked+.bd-switch-body {
    /* BetterDiscord checkmark toggle color */
    --switch-color: var(--online-color);
}

.vc-addon-card {
    /* vencord plugins style */
    background: var(--background-modifier-accent);
}

.vc-addon-card:hover {
    /* vencord plugins style */
    background: var(--background-modifier-hover);
}

.visual-refresh .colorDefault__6e2b9, .visual-refresh .colorSuccess__6e2b9 {
    background: var(--highlight-darker);
    --custom-notice-text: white;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 20px;
    margin-left: 8px;
}

.guildSidebar_f75fb0 {
    /* moderator view */
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.outer_c0bea0 { /* moderator view */
    border-radius: 10px !important;
}

.sidebarContainer__656be { /* moderator view */
    margin: 0;
}

.innerContainer__656be {
    /* moderator view */
    border-radius: 10%;
}

/*.outer_c0bea0 { /* moderator view *
    --profile-gradient-primary-color: rgba(255, 255, 255, 0) !important;
    --profile-gradient-secondary-color: rgba(255, 255, 255, 0) !important;
    --profile-gradient-overlay-color: rgba(255, 255, 255, 0) !important;
}*/

.toast__3fde7 {
    /* vencord updater notification style */
    border: 2px solid var(--online-color);
    border-radius: 10px;
    background-color: rgba(105, 15, 133, 90%);
}

.input__0f084 {
    /* settings inputs bg color */
    background-color: rgba(35, 35, 35, 0.596);
}

.checked__87bf1 path {
    /* settings check slider */
    fill: var(--online-color) !important;
}

.checked__87bf1 {
    /* settings check slider */
    background-color: var(--online-color) !important;
}

.vc-notification-root {
    /* vencord update notification */
    border: 1px solid var(--selected-channel-color);
    background: rgba(105, 15, 133, 0.9);
}

.focusLock__49fc1 {
    /* vencord plugin settings/info */
    background: rgba(255, 255, 255, 0);
}

.large__49fc1,
.medium__49fc1,
.small__49fc1,
.modal_b545d5,
.form__468a6,
.oauth2ModalWrapper__647f0,
.bd-modal-root,
.root__49fc1 {
    /* modal theme */
    background: rgba(105, 15, 133, 0.8);
    border-radius: 10px;
    border: 1px solid var(--highlight) !important;
}

.header_d0b769,
.footer_d97f89,
.footer__49fc1,
.bd-modal-footer {
    /* modal footer color */
    background-color: rgba(35, 35, 35, 0.75);
    border-radius: 10px;
}

.bd-button-filled.bd-button-color-red {
    /* BetterDiscord red button -> purple */
    background-color: var(--status-danger);
}
.bd-button-filled.bd-button-color-red:hover {
    /* BetterDiscord red button -> purple */
    background-color: var(--highlight);
}
.bd-filled-checkmark {
    /* BetterDiscord green checkmark -> blue */
    background: var(--online-color);
}
.bd-empty-updates svg {
    /* BetterDiscord green checkmark -> blue */
    fill: var(--online-color);
}

.defaultTextInputWrapper__7b848 {
    /* poll creation responses input area */
    background-color: rgba(35, 35, 35, 0.596);
}

.defaultTextInputWrapper__7b848 input {
    /* poll creation responses input area */
    background-color: transparent;
}

.addAnswerButton_d97f89 {
    /* poll creation add response bg */
    background-color: rgba(35, 35, 35, 0.596);
}

.addAnswerButton_d97f89:hover {
    /* poll creation add response bg (hover) */
    background-color: rgba(35, 35, 35, 0.9);
}

.voiceChannelsButton__29444 {
    /* show more voice channels button */
    border: 1px solid var(--custom-channel-icon);
}

.voiceChannelsButton__29444:hover {
    /* show more voice channels button */
    border: 1px solid var(--highlight);
    background: var(--background-secondary);
}

.titleContainer_d9be46 .input__0f084 {
    /* fix to forum search bg */
    background: none;
}

.chat_f75fb0 .container__0b563 {
    /* channels & roles tab */
    background: none !important;
}

.pageBody__41ed7 {
    /* channels & roles tab */
    margin-top: 10px;
    background: rgba(105, 15, 133, 0.8);
    border-radius: 10px;
    border: 1px solid var(--selected-channel-color);
}

.chat_f75fb0 .header__0b563 {
    /* channels & roles tab */
    background: var(--background-secondary) !important;
    border-radius: 10px;
    border: 1px solid var(--selected-channel-color);
}

.visual-refresh .header_c0e32c, .visual-refresh .inspector_aeaaeb,
.visual-refresh .contentWrapper__08434, .visual-refresh .unicodeShortcut_b9ee0c, .visual-refresh .wrapper__4e6ce {
    /* emoji tab */
    background: var(--darkPurple-background);
}

.visual-refresh .header_c656ac,
.visual-refresh .container_a45028 {
    /* emoji tab */
    background-color: rgba(35, 35, 35, 0.596);
}

.emojiItem_fc7141.emojiItemSelected_fc7141,
.stickerAsset__31fc2:hover {
    /* emoji tab */
    background-color: var(--background-message-highlight-hover);
}

.visual-refresh .emojiPicker_c0e32c {
    background: black;
}

.lottieCanvas__31fc2 {
    /* emoji tab canvas */
    border-radius: 6px;
}

.emptyChannelIcon__00de6 {
    /* empty channel icon bg */
    background-color: var(--background-primary);
}

.custom-profile-theme .themeColor_fb7f94.primary_fb7f94 {
    /* nitro profile buttons */
    background: var(--button-background-static);
}

.soundButtonRefresh__6d4ed:hover {
    /* soundemoji */
    border: 1px solid var(--highlight);
}

.soundButtonRefresh__6d4ed {
    /* soundemoji */
    background-color: var(--darkPurple-background);
}

.soundButtonInteractiveRefresh__6d4ed.playing__6d4ed {
    /* soundemoji */
    outline: 1px solid var(--highlight);
}

.inlineButton__5cc6a {
    /* soundemoji reply */
    background: var(--darkPurple-background);
}

.animatedContainer_f37cb1 {
    /* server banner */
    border-radius: 10px;
}

.visual-refresh .container__2637a {
    /* server banner */
    border-radius: 10px;
    background: var(--background-secondary);
}
.visual-refresh .clickable_f37cb1 {
    background: var(--background-primary);
}
.visual-refresh .header_f37cb1 {
    background: none;
}

.visual-refresh .embedFull__623de {
    background: var(--background-secondary);
    border-radius: 5px;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 { /* discord logo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}
.tutorialContainer__1f388 .childWrapper__6e9f8:hover { /* discord logo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.tutorialContainer__1f388 .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.permissionCheckmark__50a54 {
    background: url(https://ungiglio.github.io/DiscordDiscordia/awkglass_code/assets/bluetick.svg) no-repeat;
}

.visual-refresh .outer_bf1984.active_bf1984, .visual-refresh .outer_bf1984.interactive_bf1984:hover {
    background-color: var(--background-primary);
}

.avatarSpeaking__07f91, .avatarSpeaking__44b0c { /* avatar speaking blue circle */
    box-shadow: inset 0 0 0 2px var(--online-color),inset 0 0 0 3px var(--background-secondary) !important;
}

:where(.visual-refresh) .colorDefault_c1e9c4 .label_c1e9c4 {
    color: var(--interactive-normal);
}
:where(.visual-refresh) .colorDefault_c1e9c4:hover .label_c1e9c4 {
    color: white;
}
:where(.visual-refresh) .colorDanger_c1e9c4, :where(.visual-refresh) .colorDanger_c1e9c4 .label_c1e9c4 {
    color: var(--text-danger);
}

.visual-refresh .container_fcf29c { /* save settings banner */
    background-color: var(--darkPurple-background);
    border: 1px solid var(--highlight);
}

.visual-refresh .container_d829e7, .visual-refresh .ctaContainer_d829e7 {  /* nitro emoji bg */
    background-color: var(--darkPurple-background);
}

/* temporary fix to nitro bg colors */
.custom-theme-background {
    background: black;
}