/* * CORE LAYOUT: CHANNELS */

.side_aa8da2 .item_aa8da2:hover,
.containerDefault_c69b6d:hover .link__2ea32:hover {
    border-radius: 3px;
    background: var(--button-background);
    color: var(--text-header); /* Bianco su hover */
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: var(--background-message-highlight-hover);
}

.wrapper__2ea32:hover .link__2ea32 {
    background: none;
}

.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32 {
    color: var(--highlighted-channel-color) !important;
    font-weight: var(--font-weight-semibold-1x-light-theme, 550);
}

.titleContainer_e29cd7 {
    border-radius: 10px;
}

.container_cf6b7d {
    background-color: var(--background-tertiary);
}

.contentRegionScroller__23e6b {
    background: none;
}

.numberBadge__40d6f {
    background-color: rgba(var(--rgb-highlight), 70%) !important;
    color: var(--background);
}

.unread__2ea32,
.wrapper__2ea32:hover .unread__2ea32 {
    background-color: var(--highlighted-channel-color);
    border-radius: 1.5px;
    left: -8px;
}

.bar__7aaec {
    /* unread pill */
    background: var(--background-tertiary);
    border: 1.5px solid var(--highlight);
    border-radius: 7px;
    margin-bottom: 20px;
}

/* === CORREZIONE PRINCIPALE: Nomi Canali === */
.containerDefault_c69b6d .name__2ea32 {
    /* channel color base */
    color: var(--text-channel-normal); /* Era --channel-icon */
}

.containerDefault_c69b6d:hover .name__2ea32 {
    /* channel color hover */
    color: var(--text-channel-hover);
}

.containerDefault_c69b6d:hover .icon__2ea32 {
    /* channel icon hover */
    color: var(--icon-hover);
}

.containerDefault_c69b6d .modeMuted__2ea32 .name__2ea32 {
    color: var(--interactive-muted);
}

.containerDefault_c69b6d:hover .modeMuted__2ea32 .name__2ea32 {
    color: var(--text-normal);
}

.icon__29444 {
    display: none;
}

.containerDefault_c69b6d .modeSelected__2ea32 .icon__2ea32 {
    color: var(--highlighted-channel-color)
}

.containerDefault_c69b6d .modeUnreadImportant__2ea32 .icon__2ea32 {
    color: var(--highlighted-channel-color)
}

.containerDefault_c69b6d .modeSelected__2ea32 .name__2ea32 {
    color: var(--highlighted-channel-color)
}

.containerDefault_c69b6d .modeSelected__2ea32 .wrapper__2ea32 {
    background-color: rgba(var(--rgb-highlight), 20%)
}

.categoryHeader_d1405b {
    background-color: 0;
    border-radius: 8px;
    position: sticky;
    top: 0;
    padding: 0 8px;
}

.containerDefault__29444 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDefault__29444::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--header-cat-rgb), 0) 0%, rgba(var(--header-cat-rgb), 1) 100%);
}

.containerDefault__29444::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--header-cat-rgb), 1) 0%, rgba(var(--header-cat-rgb), 0) 100%);
}

.animatedContainer_f37cb1 {
    border-radius: 10px;
}

.container__2637a {
    border-radius: 10px;
    background: var(--background-secondary);
}

.clickable_fd6364 {
    background: var(--background-primary);
    border-radius: 8px;
}

.header_f37cb1 {
    background: none;
}

.checkIcon__270d7,
.memberCount__270d7 {
    background-color: var(--highlighted-channel-color);
}

.optionButtonWrapper__270d7.selected__270d7 {
    border-color: var(--highlighted-channel-color);
}


.container__13cf1 {
    /* Categoria (TESTO VIOLA SCURO) */
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
    flex: 1 1 auto;
    color: rgb(var(--header-cat-rgb)) !important;
}

.container__13cf1:hover {
    color: rgb(var(--header-cat-rgb)) !important;
}

.wrapperCommon__29444 {
    color: rgb(var(--header-cat-rgb)) !important;
}

.a98f3b020416ad54-searchResultsWrap {
    background-color: var(--background-secondary);
}