/* * CORE LAYOUT: MEMBERS */

.header_c6bf1b {
    background: var(--background-primary);
    border-radius: 10px;
    position: fixed;
    max-width: 451.4px;
}

.scroller__981c8 {
    top: 155px;
    padding-bottom: 155px;
}

.scroller__981c8:has(div[class*="_358591fa30baeebc-warning"]) {
    top: 255px;
    padding-bottom: 255px;
}

.scroller__16663,
.list__9a73f {
    top: 215px;
    padding-bottom: 215px;
}

.scroller__16663:has(div[class*="_358591fa30baeebc-warning"]),
.container__9a73f:has(.headerContainer__9a73f .header_c6bf1b div[class*="_358591fa30baeebc-warning"]) .list__9a73f {
    top: 315px;
    padding-bottom: 315px;
}

.scroller__16663:has(div[class*="_166631599d7f960b-noticeContainer"]) {
    top: 269px;
    padding-bottom: 269px;
}

.scroller_d80a13 {
    top: 175px;
    padding-bottom: 175px;
}

.scroller_d80a13:has(div[class*="_358591fa30baeebc-warning"]) {
    top: 275px;
    padding-bottom: 275px;
}

[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
    /* get rid of activities in member list */
    display: none;
}

.container_c8ffbb {
    border-radius: 0px 0px 8px 0px;
    background: var(--background-secondary);
}

.members_c8ffbb {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

/* Titoli Gruppi Membri */
.membersGroup_c8ffbb {
    color: rgb(var(--header-cat-rgb)) !important;
    font-weight: bold;
    padding-top: 20px;
}