/* * CORE LAYOUT: MEMBERS */

.c6bf1b7af480dfda-header {
    background: var(--background-primary);
    border-radius: 10px;
    position: fixed;
    max-width: 451.4px;
}

._981c8ddc53ff5825-scroller {
    top: 155px;
    padding-bottom: 155px;
}

._981c8ddc53ff5825-scroller:has(div[class*="_358591fa30baeebc-warning"]) {
    top: 255px;
    padding-bottom: 255px;
}

._166631599d7f960b-scroller,
._9a73f1a84c858f76-list {
    top: 215px;
    padding-bottom: 215px;
}

._166631599d7f960b-scroller:has(div[class*="_358591fa30baeebc-warning"]),
._9a73f1a84c858f76-container:has(._9a73f1a84c858f76-headerContainer .c6bf1b7af480dfda-header div[class*="_358591fa30baeebc-warning"]) ._9a73f1a84c858f76-list {
    top: 315px;
    padding-bottom: 315px;
}

._166631599d7f960b-scroller:has(div[class*="_166631599d7f960b-noticeContainer"]) {
    top: 269px;
    padding-bottom: 269px;
}

.d80a132dc542c7a2-scroller {
    top: 175px;
    padding-bottom: 175px;
}

.d80a132dc542c7a2-scroller:has(div[class*="_358591fa30baeebc-warning"]) {
    top: 275px;
    padding-bottom: 275px;
}

[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
    /* get rid of activities in member list */
    display: none;
}

.c8ffbb79449f399c-container {
    border-radius: 0px 0px 8px 0px;
    background: var(--background-secondary);
}

.c8ffbb79449f399c-members {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

/* Titoli Gruppi Membri */
.membersGroup_cbd271 {
    color: var(--header-dark-purple) !important;
    font-weight: bold;
    padding-top: 20px;
}