/* * CORE LAYOUT: PAGES */

.container__0be77 {
    background-color: var(--background-base-low);
}

.applicationStore_f07d62,
.shop__6db1d,
.container__955a3,
.homeWrapper__0920e {
    border-radius: 10px;
    border: none;
    margin: 0 20px;
}

.guildRow__58ae6 {
    background-color: var(--darkPurple-background);
}