/* * CORE LAYOUT: PAGES & HOME
 * Stili per Home, Negozio e schermate Nitro
 */

/* Home / Lista Amici */
._0be773cf1443f34f-container {
    background-color: var(--background-base-low);
}

.theme-dark ._37e49614b9f110a9-container,
.container_fea832,
.connectContainer_c7f964 {
    background-color: var(--background-secondary);
}

/* Negozio e Nitro */
.f07d62e29a48ceee-applicationStore,
._6db1d32c47b6ad72-shop,
._955a392354a35c6e-container,
._0920e02cc8fc7b7b-homeWrapper {
    border-radius: 10px;
    border: none;
    margin: 0 20px;
}

/* Banner Nitro / Emoji */
.d829e78297641841-container,
.d829e78297641841-ctaContainer {
    background-color: var(--darkPurple-background);
}