/* * CORE LAYOUT: SIDEBAR */

#app-mount .guilds__5e434 [class*=pill] span[style*="height: 40"] {
    background-color: var(--highlighted-channel-color);
}

.sidebarList__5e434 {
    border-radius: 10px;
    margin-left: 20px;
    border: none;
}

.guilds__5e434 {
    border-radius: 10px;
    margin: 6px;
    margin-left: 0px;
    margin-bottom: 87px;
}

.title__85643 {
    background: #00000083;
    border-radius: 10px;
    padding: 5px;
}

.childWrapperNoHoverBg__6e9f8 {
    background: var(--background-primary);
}

.childWrapperNoHoverBg__6e9f8>svg {
    display: none;
}

#app-mount .sidebar__5e434 {
    border-radius: 10px;
}

.wrapper_d5f3cd {
    background-color: var(--darkPurple-background);
}

.scroller__99e7c {
    background: none;
    margin: 0;
    padding-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) + 16px);
}

.activityPanel__5e434:has(button[aria-label*="Apri selettore di adesivi"]) {
    display: none;
}

.standardSidebarView__23e6b {
    background: var(--background-primary);
}

.tabBody__133bf,
.sidebarScrollable__53543 .scroller__53543,
.standardSidebarView__23e6b,
.contentRegionScroller__23e6b {
    background: none;
}

.container_d8f25b {
    background-color: var(--background-primary);
    color: white;
}

.container_d8f25b:hover {
    background-color: var(--background-primary);
    color: #d8d5d5;
}

.guildSeparator-33mFX6 {
    border-radius: 2px;
}

.childWrapper__6e9f8 {
    /* discord logo color */
    color: var(--highlight);
}

.panels__5e434 {
    /*personal info/status panel*/
    flex: 0 0 auto;
    background: none;
    z-index: 2;
    border: none;
    margin-bottom: 16px;
}

.lottieIcon__5eb9b {
    /* personal info/status panel icons color */
    --channel-icon: #B5BAC1;
}

.theme-dark .container__37e49,
.container__37e49 {
    /*personal info/status panel section*/
    height: 59px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 8px 0;
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    background: var(--darkPurple-background);
}

.container_e131a9 {
    /*VC panel*/
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    flex-shrink: 0;
    background: var(--darkPurple-background);
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin: 3px 0 3px 0;
}

.activityPanel__5e434 {
    /*activitypanel*/
    border-bottom: 1px solid var(--background-modifier-accent);
    position: relative;
    z-index: 2;
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-bottom: 3px;
}

.theme-dark .panel__5dec7 {
    /*activitypanel bg*/
    background: var(--darkPurple-background);
}

#vc-spotify-player {
    /*spotify controller*/
    padding: 0.375rem 0.5rem;
    --vc-spotify-green: var(--highlight);
    border-radius: 8px;
    border: 1px solid var(--highlight);
    margin-top: 3px;
    margin-bottom: 3px;
}

.theme-dark #vc-spotify-player {
    /*spotify bg color*/
    background: var(--bg-overlay-1, var(--darkPurple-background));
}

.tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf {
    /* add friend button */
    background-color: var(--status-danger-background);
}

.panels__5e434::after {
    content: var(--ver);
    color: var(--text-default);
    font-size: 11px;
    position: absolute;
    font-family: Consolas;
    bottom: -21px;
    background: var(--darkPurple-background);
    padding: 5px;
    border: solid 1px var(--highlight);
    border-top: var(--darkPurple-background);
    border-radius: 8px;
    opacity: var(--show-dev-panel-info-static);
    pointer-events: calc(var(--show-dev-panel-info-static) * 1);
}

.panels__5e434:hover::after {
    content: var(--ver);
    color: var(--text-default);
    font-size: 11px;
    position: absolute;
    font-family: Consolas;
    bottom: -21px;
    background: var(--darkPurple-background);
    padding: 5px;
    border: solid 1px var(--highlight);
    border-top: var(--darkPurple-background);
    border-radius: 8px;
    opacity: var(--show-dev-panel-info-hover);
    pointer-events: calc(var(--show-dev-panel-info-hover) * 1);
}

.wrapper_ef3116 {
    /* server list wrapper */
    padding-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) + 1px);
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.scroller_ef3116 {
    /* server-list spacing */
    padding: var(--space-xs) 0;
}

.soundButtonWrapper__9be63 {
    /* soundbar sounds bg */
    background: var(--online-color);
    filter: brightness(75%);
}

.colorable_f1ceac.greenGlow_f1ceac,
.colorable_f1ceac.greenGlow_f1ceac .centerIcon_f1ceac {
    /* VC active activity */
    color: var(--online-color);
}

.colorable_f1ceac.greenGlow_f1ceac {
    /* VC active activity */
    background: rgba(var(--rgb-online-color), .2);
}

.colorable_f1ceac.greenGlow_f1ceac:hover {
    /* VC active activity */
    background: rgba(var(--rgb-online-color), .5);
}

.container_b962dc {
    background-color: var(--darkPurple-background) !important;
}

.sidebarCard_b962dc {
    background-color: var(--highlight-darker) !important;
}

.friendRequestsButton__523aa div {
    /* notification inbox friend request badge background */
    background: none !important;
}

.card__88264 {
    /* server events list */
    background-color: var(--background-primary);
}

.card__88264:hover {
    /* server events list hover */
    background-color: var(--background-secondary);
}

.item__58105 {
    /* serverlist pills */
    border-radius: 1.5px;
    width: 6.5px;
}

.eventStatusContainer__29021 svg path {
    /* server events list svg color */
    fill: var(--icon-muted);
}

/* settings menu gradient */
.fixedContent__409aa:after {
    background: linear-gradient(to bottom, var(--darkPurple-background), transparent);
}