.title__85643 div::after {
    font-family: var(--custom-title-font-family);
    font-size: var(--custom-title-font-size);
    font-weight: 500;
    line-height: 1.2857142857142858;
    content: var(--custom-title-text);
    color: var(--text-normal);
}
.title__85643 div:not(.icon_f34534) {
    display: none;
}

.title__85643 div {
    width: auto;
    height: auto;
    background-image: none !important;
}