.title_bb0d86::after {
    font-family: var(--custom-title-font-family);
    font-size: var(--custom-title-font-size);
    font-weight: 500;
    line-height: 1.2857142857142858;
    content: var(--custom-title-text);
    color: var(--text-default);
}

.title_bb0d86 div {
    display: none !important;
}