/* * CORE UI: APP BASE */

.bg_d4b6c5 {
    background: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link__972a0:hover,
.interactive__972a0:hover {
    background: var(--button-background);
    border-radius: 3px;
    color: rgb(233, 233, 233);
}

.content__5e434 {
    background-color: transparent;
}

.footer_d71945 {
    background-color: transparent !important;
    background: none;
}

.winButton_c38106 {
    background: #00000083;
    color: #fff;
    width: 35px;
    height: 30px;
}

.clickable__9293f {
    background: #00000083;
    width: 35px !important;
    height: 30px !important;
    border-radius: 10px;
}

.clickable_c99c29 {
    background: #00000083;
    width: 27px !important;
    height: 30px !important;
    border-radius: 10px;
    justify-content: center;
}

.title_edbb22 {
    background: #00000083;
    padding: 0 5px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickable__9293f:hover,
.clickable_c99c29:hover {
    background: var(--online-color);
}

.clickable__9293f svg path,
.clickable_c99c29 svg path {
    fill: #fff !important;
}

.clickable__9293f svg,
.clickable_c99c29 svg {
    width: 16.5px !important;
    height: 16.5px !important;
}

.winButtons_c38106 {
    gap: 0;
}

.winButtonMinMax_c38106:hover {
    background: var(--online-color);
}

.winButtonMinMax_c38106[aria-label*="Riduci"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.winButtonClose_c38106 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
}

.winButtonsWithDivider_c38106:before {
    display: none;
}

.platform-win .sidebar__5e434,
.container__133bf,
.chat_f75fb0 {
    border-radius: 10px;
    margin: 0 20px;
}

.container__34c2c,
.header__34c2c {
    background: var(--background-tertiary);
    border-radius: 10px;
    margin-left: 10px;
    backdrop-filter: blur(50px);
}

.divider_ee23ac {
    height: 0;
}

.wordmarkWindows__421ed {
    display: none;
}

.stackedBars__74017,
.sidebar__5e434:after {
    background: none;
}

:where(.overlay_c0bea0),
.container__62dd3 {
    background: var(--background-tertiary);
}

.lookFilled__201d5.colorBrand__201d5,
.lookFilled__201d5.colorPrimary__201d5,
.botTagRegular__82f07,
.unread__6fddf {
    background: var(--button-background-static);
}

.layers__160d8 {
    margin: calc(var(--app-margin) / 2) var(--app-margin) var(--app-margin) var(--app-margin);
    border-radius: var(--app-radius);
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(var(--app-blur));
}

.chatTarget__01ae2:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: var(--popout-color);
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
}

.titleContainer_e29cd7:before,
.header_c6bf1b:before {
    content: " ";
    position: absolute;
    width: calc(100% + var(--app-margin) * 2);
    height: calc(100% + var(--app-margin) * 2 + 24px);
    top: calc((var(--app-margin) + 24px) * -1);
    left: calc(var(--app-margin) * -1);
    background-color: transparent;
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vmax var(--main-content-color);
    filter: blur(var(--app-blur));
    z-index: -1;
    pointer-events: none;
}

.wrapper__4d7bb .card__4d7bb {
    background-color: var(--card-color-select);
    border-radius: var(--card-radius);
    backdrop-filter: blur(var(--app-blur));
}

.winButton__421ed {
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.lookFilled_f6639d.select_a16aea {
    border: solid transparent;
}

.theme-dark .container__37e49,
.container_effbe2,
.searchBar_e6b769,
.lookFilled_f6639d.select_a16aea,
.container_f369db,
.connectContainer_e2a436,
.container__133bf,
.theme-dark .scroller__99e7c,
.wrapper_cb9592.minimum_cb9592 {
    background-color: var(--background-secondary);
}

.sidebarRegionScroller__23e6b,
.contentRegionScroller__23e6b,
.searchBar__5ec2f,
.ae7890a1b8e75804-searchHeader,
.a98f3b020416ad54-searchResultsWrap,
.privateChannels_e6b769,
.nowPlayingColumn__133bf,
.container__7d20c,
.wrapper_ef3116 {
    background-color: var(--background-primary);
}

.theme-dark .sidebarContainer_a3a4ce {
    background-color: var(--background-secondary);
}

.form_f75fb0:before,
.themedBackground__74017,
._80bf8435713f6adb-searchResult,
.popoverReactionHoverBar_e986d9 {
    background: transparent;
}

.theme-dark .children__9293f:after,
.form_f75fb0::before,
._16eb0bfd5c5a90d1-option:after {
    display: none;
}

.badge__94439,
.countContainer_f369db,
.countContainer__5808f {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.pill_a2c9e8.selected_a2c9e8:not(.disabled_a2c9e8) {
    border-color: var(--highlight);
}

.pill_a2c9e8.selected_a2c9e8:not(.disabled_a2c9e8):hover {
    background-color: var(--background-message-highlight-hover);
    border-color: var(--highlight);
}

.main_c08b38,
.page__5e434 {
    border-radius: 10px;
    margin: 0 20px 0 0;
}