/* * CORE UI: SCROLLBARS */

.auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar {
    width: 5px;
}

.auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar-thumb {
    background: var(--darkPurple-background);
}

.auto__99f8c.list_f369db.scrollerBase__99f8c::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

.scroller__629e4::-webkit-scrollbar {
    /*channel list scrollbar hidden*/
    display: block;
}

.scroller__629e4::-webkit-scrollbar-thumb {
    background: rgba(43, 45, 49, 0);
}

.scroller__36d07::-webkit-scrollbar {
    /*channel scrollbar hidden*/
    width: 12px;
}